<!-- Modal -->
<div class="modal">
  <!-- modal header -->
  <div class="modal-header">
    <h1>액티비티 바우처</h1>
    <div class="right">
      <a (click)="onCloseClick()" class="icon sm common-close">닫기</a>
    </div>
  </div>
  <!-- modal contents -->
  <div class="modal-contents">
    <div class="activity-voucher">
      <!-- 인디케이터는 2개 이상일때만 노출한다 -->
      <div class="indicator">
        <span class="active"></span>
        <span></span>
        <span></span>
      </div>

      <!-- 바우처 모음 -->
      <div class="scroll-box-list">
        <div class="scroll-item-outer">
          <!-- 액티비티 바우처 아이템 -->
          <div class="activity-voucher-item">
            <div class="voucher-top">
              <h2>로스앤젤레스 자연사 박물관 입장권</h2>
              <p>Tripadvisor Experiences</p>
              <!-- 바코드 있을때만 나옴 -->
              <div class="voucher-barcode">
                <img class="barcode-img" src="/assets/images/temp/@temp-qrcode.png" alt="">
              </div>
            </div>
            <div class="voucher-middle"></div>
            <div class="voucher-bottom">
              <ul>
                <li>
                  <p class="color-sub5">선택옵션</p>
                  <p><strong>1일</strong></p>
                </li>
                <li>
                  <p class="color-sub5">대표 예약자</p>
                  <p><strong>김길동 KIM/GILDONG</strong></p>
                </li>
                <li>
                  <p class="color-sub5">날짜</p>
                  <p><strong>2020.03.20(목) 12:00</strong></p>
                </li>
                <li>
                  <p class="color-sub5">수량</p>
                  <p><strong>성인(2) / 소아(2) / 유아(2)</strong></p>
                </li>
                <li>
                  <p class="color-sub5">예약번호</p>
                  <p><strong>YB12345678</strong></p>
                </li>
                <li>
                  <p class="color-sub5">바우처번호</p>
                  <p><strong>TQ3932252</strong></p>
                </li>
              </ul>
            </div>
          </div>
          <!-- 액티비티 바우처 아이템 -->
          <div class="activity-voucher-item">
            <div class="voucher-top">
              <h2>로스앤젤레스 자연사 박물관 입장권</h2>
              <p>Tripadvisor Experiences</p>
              <!-- 바코드 있을때만 나옴 -->
              <div class="voucher-barcode">
                <img class="barcode-img" src="/assets/images/temp/@temp-qrcode.png" alt="">
              </div>
            </div>
            <div class="voucher-middle"></div>
            <div class="voucher-bottom">
              <ul>
                <li>
                  <p class="color-sub5">선택옵션</p>
                  <p><strong>1일</strong></p>
                </li>
                <li>
                  <p class="color-sub5">대표 예약자</p>
                  <p><strong>김길동 KIM/GILDONG</strong></p>
                </li>
                <li>
                  <p class="color-sub5">날짜</p>
                  <p><strong>2020.03.20(목) 12:00</strong></p>
                </li>
                <li>
                  <p class="color-sub5">수량</p>
                  <p><strong>성인(2) / 소아(2) / 유아(2)</strong></p>
                </li>
                <li>
                  <p class="color-sub5">예약번호</p>
                  <p><strong>YB12345678</strong></p>
                </li>
                <li>
                  <p class="color-sub5">바우처번호</p>
                  <p><strong>TQ3932252</strong></p>
                </li>
              </ul>
            </div>
          </div>
          <!-- 액티비티 바우처 아이템 -->
          <div class="activity-voucher-item">
            <div class="voucher-top">
              <h2>로스앤젤레스 자연사 박물관 입장권</h2>
              <p>Tripadvisor Experiences</p>
              <!-- 바코드 있을때만 나옴 -->
              <div class="voucher-barcode">
                <img class="barcode-img" src="/assets/images/temp/@temp-qrcode.png" alt="">
              </div>
            </div>
            <div class="voucher-middle"></div>
            <div class="voucher-bottom">
              <ul>
                <li>
                  <p class="color-sub5">선택옵션</p>
                  <p><strong>1일</strong></p>
                </li>
                <li>
                  <p class="color-sub5">대표 예약자</p>
                  <p><strong>김길동 KIM/GILDONG</strong></p>
                </li>
                <li>
                  <p class="color-sub5">날짜</p>
                  <p><strong>2020.03.20(목) 12:00</strong></p>
                </li>
                <li>
                  <p class="color-sub5">수량</p>
                  <p><strong>성인(2) / 소아(2) / 유아(2)</strong></p>
                </li>
                <li>
                  <p class="color-sub5">예약번호</p>
                  <p><strong>YB12345678</strong></p>
                </li>
                <li>
                  <p class="color-sub5">바우처번호</p>
                  <p><strong>TQ3932252</strong></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>