<h2 class="contents-title">박종선 님 만을 위한 이벤트</h2>
<!-- 이벤트 롤링 -->
<div class="event-banner-rolling">
    <div class="banner-image-wrap">
        <div class="banner-item-image active">
            <img src="/assets/images/temp/@temp-event-banner.png" alt="" class="img">
        </div>
        <div class="banner-item-image">
            <img src="/assets/images/temp/@temp-event-banner.png" alt="" class="img">
        </div>
        <div class="banner-item-image">
            <img src="/assets/images/temp/@temp-event-banner.png" alt="" class="img">
        </div>
    </div>
    <div class="banner-count">
        <ul>
            <li><a href="#" class="active">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
        </ul>
    </div>
    <div class="banner-text-wrap">
        <div class="banner-item-text active">
            <p class="title">노랑풍선 롯데카드 최대 3만원 할인</p>
            <p class="sub">해외패키지, 자유여행, 허니문, 크루즈/골프 고객 대상</p>
            <p class="date">2019.02.12 ~ 2019.08.31</p>
        </div>
        <div class="banner-item-text">
            <p class="title">노랑풍선 롯데카드 최대 3만원 할인</p>
            <p class="sub">해외패키지, 자유여행, 허니문, 크루즈/골프 고객 대상</p>
            <p class="date">2019.02.12 ~ 2019.08.31</p>
        </div>
        <div class="banner-item-text">
            <p class="title">노랑풍선 롯데카드 최대 3만원 할인</p>
            <p class="sub">해외패키지, 자유여행, 허니문, 크루즈/골프 고객 대상</p>
            <p class="date">2019.02.12 ~ 2019.08.31</p>
        </div>
    </div>
</div>