<div class="tab-item active">
    <div class="page-contents-type3">
      <!-- FAQ 검색 -->
      <div class="input line mb20">
        <span class="icon sm search"></span>
        <input type="text" placeholder="찾고 있는 내용을 입력하세요">
      </div>
      <!-- FAQ 반복 -->
      <!-- 클릭시 .faq-list-item에 .active 토글 -->
      <!-- .active가 추가되면 .faq-list-detail은 자동으로 보여짐 -->
      <div class="round-box faq-list-item" (click)="selectDetail($event)">
        <p class="title"><span>[항공] 2020년 2월 유류할증료 안내</span></p>
        <div class="faq-list-detail">
          예약 시 취소나 변경 규정은 노랑풍선 호텔 요금 조회 시
          확인이 가능합니다. 요금 검색 결과에서 취소 규정 보기
          를 클릭하시어 해당 호텔의 취소 규정 및 수수료에 대한
          시점을 확인하실 수 있으며 예약 시 반드시 취소 규정을
          확인 후 예약 진행을 해주시면 되겠습니다.
        </div>
      </div>
      <div class="round-box faq-list-item"  (click)="selectDetail($event)">
        <p class="title"><span>[항공] 2020년 2월 유류할증료 안내</span></p>
        <div class="faq-list-detail">
          예약 시 취소나 변경 규정은 노랑풍선 호텔 요금 조회 시
          확인이 가능합니다. 요금 검색 결과에서 취소 규정 보기
          를 클릭하시어 해당 호텔의 취소 규정 및 수수료에 대한
          시점을 확인하실 수 있으며 예약 시 반드시 취소 규정을
          확인 후 예약 진행을 해주시면 되겠습니다.
        </div>
      </div>
      <!-- 검색 결과 없을때 -->
      <div class="nodata page">
        <div class="nodata-msg">
          <span class="icon alert2"></span>
          <p class="text">검색 결과가 없습니다.<br>다른 검색어를 입력하세요.</p>
        </div>
      </div>
    </div>
  </div>