<div id="wrap" class="p-mypage-mileage">

    <!-- header -->
    <app-header></app-header>
    <app-mypage-header [headerType]="headerType" [headerConfig]="headerConfig"></app-mypage-header>

    <!-- contents -->
    <div id="contents">
        <div class="tab-wrap">
            <div class="tab-header type4 top-blank fixed">
                <a href="#" class="tab-header-item active"><span>진행중</span></a>
                <a href="#" class="tab-header-item"><span>종료</span></a>
                <a href="#" class="tab-header-item"><span>당첨자 발표</span></a>
            </div>
            <div class="tab-body">
                <!-- 진행중 -->
                <div class="tab-item active">
                    <div class="page-contents-type2">
                        <div class="select-box line mb20">
                            <select name="" id="">
                                <option value="">항공 프로모션</option>
                            </select>
                        </div>
                        <!-- 이벤트 아이템 반복 -->
                        <div class="event-item">
                            <div class="event-item-image">
                                <img src="/assets/images/temp/@temp-event-banner.png" alt="" class="img">
                            </div>
                            <div class="event-item-text">
                                <p class="title">노랑풍선 롯데카드 최대 3만원 할인</p>
                                <p class="sub">해외패키지, 자유여행, 허니문, 크루즈/골프 고객 대상</p>
                                <p class="date">2019.02.12 ~ 2019.08.31</p>
                            </div>
                        </div>
                        <!-- 이벤트 아이템 반복 -->
                        <div class="event-item">
                            <div class="event-item-image">
                                <img src="/assets/images/temp/@temp-event-banner.png" alt="" class="img">
                            </div>
                            <div class="event-item-text">
                                <p class="title">노랑풍선 롯데카드 최대 3만원 할인</p>
                                <p class="sub">해외패키지, 자유여행, 허니문, 크루즈/골프 고객 대상</p>
                                <p class="date">2019.02.12 ~ 2019.08.31</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 종료 -->
                <div class="tab-item"></div>
                <!-- 당첨자 발표 -->
                <div class="tab-item"></div>
            </div>
        </div>
    </div>
</div>