/**
* 페이지 컴포넌트
* p-{페이지명}
 */
.p-cm-recent-list {
    .content-area {
        margin-top: 51px;
    }

    .contents-item-area {

        .contents-item {
            margin-top: 45px;
        }

        &:first-child {
            .contents-item {
                margin-top: 0px;
            }
        }
    }
}