<div id="wrap">
    <!-- 노랑풍선 공통 헤더 -->
    <app-header [headerConfig]="headerConfig"></app-header>

    <!-- 컨덴츠 -->
    <div id="container">
        <div id="contents" class="middle default">
            <div class="contents-area">
                <div class="aside left">
                    <dl class="aside-menu">
                        <dt>마이페이지</dt>
                        <!-- 예약목록은 회원일때만 보여짐 -->
                        <dd>
                            <a (click)="goToReservation()">예약목록
                                <span class="icon sm reservation"></span>
                            </a>
                        </dd>
                        <!-- <dd><a href="#">예약조회(비회원/제휴사)</a></dd> 비회원 일때 나옴 -->
                        <dd>
                            <a (click)="goToRecent()">최근 본 상품
                                <span class="icon sm recent"></span>
                            </a>
                        </dd>
                        <dd>
                            <a (click)="goToWish()">장바구니
                                <span class="icon sm wish"></span>
                            </a>
                        </dd>

                        <dd *ngIf="false">
                            <a (click)="goToCoupon()">쿠폰&할인코드
                                <span class="icon sm coupon"></span>
                            </a>
                        </dd>

                        <dd>
                            <a (click)="goToQna()">문의내역
                                <span class="icon sm qna"></span>
                            </a>
                        </dd>


                        <dd *ngIf="false">
                            <a (click)="goToReview()">이용후기
                                <span class="icon sm review"></span>
                            </a>
                        </dd>


                        <dd>
                            <a (click)="goToCustomer()">고객센터
                                <span class="icon sm customer"></span>
                            </a>
                        </dd>

                        <dd>
                            <a href="https://www.ybtour.co.kr/cs/noticeList.yb">공지사항
                                <span class="icon sm notice"></span>
                            </a>
                        </dd>


                        <dd>
                            <a (click)="goToEvent()">이벤트&amp;기획전
                                <span class="icon sm event"></span>
                            </a>
                        </dd>


                        <dd>
                            <a (click)="goToShare()">친구초대
                                <span class="icon sm share"></span>
                            </a>
                        </dd>


                        <dd>
                            <a (click)="goToSeller()">판매 및 입점
                                <span class="icon sm seller"></span>
                            </a>
                        </dd>


                        <dd *ngIf="false">
                            <a (click)="goToAgreement()">이용약관
                                <span class="icon sm document"></span>
                            </a>
                        </dd>
                    </dl>
                </div>
                <div class="contents">
                    <h2 class="heading-title2 mb20">이용후기</h2>
                    <div class="list-contents-header">전체<span class="count">3</span>건</div>
                    <!-- 리뷰 아이템(작성전) -->
                    <div class="review-list-item">
                        <p class="product-title">[투어] 로스앤젤레스 자연사 박물관 입장권</p>
                        <ul class="column-contents lg">
                            <li>
                                <span class="title">이용일</span>
                                <span class="text">2019.12.20-2019.12.30</span>
                            </li>
                            <li>
                                <span class="title">작성기한</span>
                                <span class="text">2020.04.03(수)<span>[D-9]</span></span>
                            </li>
                        </ul>
                        <a (click)="writeReview()" class="btn md default">이용후기 쓰기</a>
                    </div>
                    <!-- 리뷰 아이템(텍스트 리뷰만 작성한 경우) -->
                    <div class="review-list-item">
                        <p class="product-title">[투어] 로스앤젤레스 자연사 박물관 입장권</p>
                        <ul class="column-contents lg">
                            <li>
                                <span class="title">이용일</span>
                                <span class="text">2019.12.20-2019.12.30</span>
                            </li>
                            <li>
                                <span class="title">작성일자</span>
                                <span class="text">2020.04.03(수)</span>
                            </li>
                        </ul>
                        <a href="#" class="btn md dark">상품평/사진 추가</a>
                    </div>
                    <!-- 리뷰 아이템(모두 완료한 경우) -->
                    <div class="review-list-item">
                        <p class="product-title">[호텔] 밀레니엄 빌트모어 로스앤젤레스 Millennium Biltmore LosAngeles</p>
                        <ul class="column-contents lg">
                            <li>
                                <span class="title">이용일</span>
                                <span class="text">2019.12.20-2019.12.30</span>
                            </li>
                            <li>
                                <span class="title">작성일자</span>
                                <span class="text">2020.04.03(수)</span>
                            </li>
                        </ul>
                        <a href="#" class="btn md light line2">작성완료</a>
                    </div>
                    <!-- pagination -->
                    <div class="pagination">
                        <a href="#" class="btn-first" title="맨처음">맨처음</a>
                        <a href="#" class="btn-prev" title="이전">이전</a>
                        <strong>1</strong>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#" class="btn-next" title="다음">다음</a>
                        <a href="#" class="btn-last" title="맨끝">맨끝</a>
                    </div>
                    <!-- 리뷰 아이템 없음 -->
                    <div class="list-nodata">
                        <div class="nodata-msg">
                            <i class="icon lg caution"></i>
                            <p>작성 가능한 예약이 없습니다.</p>
                            <div class="btn-group">
                                <a href="#" class="btn lg default">예약하기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</div>