<div *ngIf="isBrowser" id="wrap">

    <!-- 헤더 -->
    <app-header [headerConfig]="headerConfig"></app-header>


    <!-- 컨덴츠 -->
    <div id="container">
        <div id="contents" class="middle default">
            <div class="contents-area">
                <div class="aside left">
                    <dl class="aside-menu">
                        <dt>마이페이지</dt>
                        <!-- 예약목록은 회원일때만 보여짐 -->
                        <dd><a href="#">예약목록</a></dd>
                        <!-- <dd><a href="#">예약조회(비회원/제휴사)</a></dd> 비회원 일때 나옴 -->
                        <dd>
                            <a (click)="goToRecent()">최근 본 상품
                                <span class="icon sm recent"></span>
                            </a>
                        </dd>
                        <dd>
                            <a (click)="goToWish()">장바구니
                                <span class="icon sm wish"></span>
                            </a>
                        </dd>

                        <dd *ngIf="false">
                            <a (click)="goToCoupon()">쿠폰&할인코드
                                <span class="icon sm coupon"></span>
                            </a>
                        </dd>

                        <dd>
                            <a (click)="goToQna()">문의내역
                                <span class="icon sm qna"></span>
                            </a>
                        </dd>


                        <dd *ngIf="false">
                            <a (click)="goToReview()">이용후기
                                <span class="icon sm review"></span>
                            </a>
                        </dd>


                        <dd>
                            <a (click)="goToCustomer()">고객센터
                                <span class="icon sm customer"></span>
                            </a>
                        </dd>

                        <dd>
                            <a href="https://www.ybtour.co.kr/cs/noticeList.yb">공지사항
                                <span class="icon sm notice"></span>
                            </a>
                        </dd>


                        <dd>
                            <a (click)="goToEvent()">이벤트&amp;기획전
                                <span class="icon sm event"></span>
                            </a>
                        </dd>


                        <dd>
                            <a (click)="goToShare()">친구초대
                                <span class="icon sm share"></span>
                            </a>
                        </dd>


                        <dd>
                            <a (click)="goToSeller()">판매 및 입점
                                <span class="icon sm seller"></span>
                            </a>
                        </dd>


                        <dd *ngIf="false">
                            <a (click)="goToAgreement()">이용약관
                                <span class="icon sm document"></span>
                            </a>
                        </dd>
                    </dl>
                </div>
                <div class="contents">
                    <h2 class="heading-title2 mb20">장바구니</h2>
                    <div class="tab-wrap">
                        <div class="tab-header type2 round border mb20">
                            <div class="tab-header-outer">
                                <a href="#" class="tab-header-item active"><span>전체</span></a>
                                <a href="#" class="tab-header-item"><span>항공</span></a>
                                <a href="#" class="tab-header-item"><span>호텔</span></a>
                                <a href="#" class="tab-header-item"><span>액티비티</span></a>
                                <a href="#" class="tab-header-item"><span>렌터카</span></a>
                            </div>
                        </div>
                        <div class="tab-body">
                            <div class="tab-pane active">
                                <div class="list-contents-header">
                                    <span class="ml-auto">전체<span class="count">4</span>건(최대9개)</span>
                                    <div class="select-box md line ml20">
                                        <select name="" id="" required>
                                            <option value="" disabled selected>정렬 기준</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- 장바구니 내용 없음 -->
                                <div class="list-nodata">
                                    <div class="nodata-msg">
                                        <i class="icon lg caution"></i>
                                        <p>장바구니에 담긴 상품이 없습니다.</p>
                                        <div class="btn-group">
                                            <a href="#" class="btn lg default">예약하기</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane"></div>
                            <div class="tab-pane"></div>
                            <div class="tab-pane"></div>
                            <div class="tab-pane"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 푸터 -->
    <app-footer></app-footer>
</div>