<!-- 쿠폰 보유 -->
<div class="tab-item active">
    <div class="page-contents-type2">
        <div class="color-main1 mb10">
            사용 가능한 쿠폰 <span class="color-point1">4</span>장
        </div>
        <!-- 쿠폰 아이템 -->
        <div *ngIf="false" class="coupon-list-item">
            <div *ngIf="false" class="coupon-list-item-left">
                <p>미주 노선 전 지역 할인 쿠폰</p>
                <p><strong>5,000</strong>원 할인</p>
                <p>500,000원 이상 구매 시, 최대 5,000원 할인</p>
                <p class="mt5">2020.02.15 - 2020.03.05</p>
            </div>
            <div *ngIf="false" class="coupon-list-item-middle"></div>
            <div *ngIf="false" class="coupon-list-item-right">
                <div class="category">
                    <span class="icon-flight"></span>
                    <span>항공</span>
                </div>
            </div>
        </div>

        <!-- 사용가능한 쿠폰 없을때
        <div class="nodata full type2">
          <div class="nodata-msg">
            <span class="icon alert2"></span>
            <p class="text color-main1">사용가능한 쿠폰이 없습니다.</p>
          </div>
        </div>
        -->
    </div>