<div class="d-flex">
    <div class="rentalcar-category-item shadow" (click)="demandClick()">
        <div class="visual type1"></div>
        <div class="title">참고사항</div>
    </div>
    <div class="rentalcar-category-item shadow" (click)="americaClick()">
        <div class="visual type2"></div>
        <div class="title">미주 TIP</div>
    </div>
    <div class="rentalcar-category-item shadow" (click)="canadaClick()">
        <div class="visual type3"></div>
        <div class="title">캐나다 TIP</div>
    </div>
    <div class="rentalcar-category-item shadow" (click)="europeClick()">
        <div class="visual type4"></div>
        <div class="title">유럽 TIP</div>
    </div>
</div>