<p>login-test works!</p>
<br>
<div>
    <h2>isLogin</h2>
    <p style="word-break: break-all;" >{{isLogin}}</p>
    <br>
    <h2>redirectUrl</h2>
    <p style="word-break: break-all;" >{{vm.returnUrl}}</p>
    <br>
    <h2>ybLoginUrl</h2>
    <p style="word-break: break-all;" >{{vm.ybLoginUrl}}</p>
    <br>
    <h2>{{vm.cookieKey}}</h2>
    <p style="word-break: break-all;" >{{vm.cookieVal}}</p>
    <br>
</div>
<br>
<div>
    <a (click)="onGoToLogin()"  class="btn btn-info" >로그인</a>
</div>
<br>
