<!-- Modal -->
<div class="modal bg">
  <!-- modal header -->
  <div class="modal-header">
    <h1>기내식</h1>
    <div class="right">
      <a (click)="onCloseClick()" class="icon sm common-close">닫기</a>
    </div>
  </div>
  <!-- modal contents -->
  <div class="modal-contents">
    <div class="additional-service-top">
      <p class="mb10"><strong>인천(ICN)</strong><span class="icon xs flight-departure2 ml10 mr10"></span><strong>로스앤젤레스(LAX)</strong></p>
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
        <div ngxSlickItem *ngFor="let slide of slides; index as i" class="slide">
          <!-- <img src="{{ slide.img }}" alt="" width="100%"  style="border-radius: 16px;"> -->
          <div class="fake-input selected">
            <span>{{i}}. {{slide.name}}</span>
            <strong>{{slide.bagDrop}}</strong>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
    <!--
        - 기내식 선택후 - .page-contents-type3에 .fixed-price-extend 추가
      -->
    <div class="page-contents-type3">
      <!-- 기내식 아이템 반복 -->
      <div class="flight-meal-item">
        <!-- .flight-meal-item-header를 누르면 .active 토글 -> 자동으로 .flight-meal-item-body가 뵤이고 숨겨짐(css) -->
        <div (click)="onAccordion()" class="flight-meal-item-header active">
          <div class="meal-image">
            <img src="/assets/images/temp/@temp-meal.png" alt="">
          </div>
          <div class="ml-auto">
            <p><strong>치킨 데리야끼밥</strong></p>
            <p><strong class="font-lg color-point2">12,000</strong><span class="color-sub5 font-xs ml2">원</span></p>
          </div>
        </div>
        <div class="flight-meal-item-body">
          <ul>
            <li>
              <div class="amount">
                <div><strong>수량</strong></div>
                <div class="ml-auto">
                  <div class="counter">
                    <button class="counter-control down" role="button">DOWN</button>
                    <span class="counter-num">1</span>
                    <button class="counter-control up" role="button">UP</button>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="amount">
                <div><strong>무료음료</strong></div>
                <div class="ml-auto">
                  <div class="counter">
                    <button class="counter-control down" role="button">DOWN</button>
                    <span class="counter-num">1</span>
                    <button class="counter-control up" role="button">UP</button>
                  </div>
                </div>
              </div>
              <ul class="list">
                <li>
                  <label class="radio">
                    <input type="radio" class="radio-control-input" checked>
                    <span class="radio-control-text">생수 385ml</span>
                  </label>
                </li>
                <li>
                  <label class="radio">
                    <input type="radio" class="radio-control-input">
                    <span class="radio-control-text">커피</span>
                  </label>
                </li>
              </ul>
            </li>
            <li>
              <p><strong>추가 디저트</strong></p>
              <ul class="list">
                <li>
                  <div class="amount">
                    <div>
                      <span>치즈케이크</span><br>
                      <strong class="color-point2 font-lg">4,700</strong><span class="color-sub5 font-xs ml2">원</span>
                    </div>
                    <div class="ml-auto">
                      <div class="counter">
                        <button class="counter-control down" role="button">DOWN</button>
                        <span class="counter-num">1</span>
                        <button class="counter-control up" role="button">UP</button>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <!-- 기내식 아이템 반복 -->
      <div class="flight-meal-item">
        <!-- .flight-meal-item-header를 누르면 .active 토글 -> 자동으로 .flight-meal-item-body가 뵤이고 숨겨짐(css) -->
        <div (click)="onAccordion()" class="flight-meal-item-header" style="display: block;">
          <div class="meal-image">
            <img src="/assets/images/temp/@temp-meal.png" alt="">
          </div>
          <div class="ml-auto">
            <p><strong>치킨 소시지를 곁들인<br>치즈오믈렛</strong></p>
            <p><strong class="font-lg color-point2">15,000</strong><span class="color-sub5 font-xs ml2">원</span></p>
          </div>
        </div>
        <div class="flight-meal-item-body">
          <ul>
            <li>
              <div class="amount">
                <div><strong>수량</strong></div>
                <div class="ml-auto">
                  <div class="counter">
                    <button class="counter-control down" role="button">DOWN</button>
                    <span class="counter-num">1</span>
                    <button class="counter-control up" role="button">UP</button>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="amount">
                <div><strong>무료음료</strong></div>
                <div class="ml-auto">
                  <div class="counter">
                    <button class="counter-control down" role="button">DOWN</button>
                    <span class="counter-num">1</span>
                    <button class="counter-control up" role="button">UP</button>
                  </div>
                </div>
              </div>
              <ul class="list">
                <li>
                  <label class="radio">
                    <input type="radio" class="radio-control-input" checked>
                    <span class="radio-control-text">생수 385ml</span>
                  </label>
                </li>
                <li>
                  <label class="radio">
                    <input type="radio" class="radio-control-input">
                    <span class="radio-control-text">커피</span>
                  </label>
                </li>
              </ul>
            </li>
            <li>
              <p><strong>추가 디저트</strong></p>
              <ul class="list">
                <li>
                  <div class="amount">
                    <div>
                      <span>치즈케이크</span><br>
                      <strong class="color-point2 font-lg">4,700</strong><span class="color-sub5 font-xs ml2">원</span>
                    </div>
                    <div class="ml-auto">
                      <div class="counter">
                        <button class="counter-control down" role="button">DOWN</button>
                        <span class="counter-num">1</span>
                        <button class="counter-control up" role="button">UP</button>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <!-- 선택전  -->
      <div class="btn-group pd bg fixed-bottom">
        <button class="btn lg grey" role="button">홍길동님 기내식을 선택해 주세요</button>
      </div>
      <!-- 선택 후
        <div class="price-footer-box">
          <div class="item-group">
            <div class="item-row col">
              <div class="left"><strong class="font-lg">총 결제 금액</strong></div>
              <div class="right">
                <strong class="font-lg color-point2">985,000원</strong>
              </div>
            </div>
          </div>
          <div class="btn-group">
            <button class="btn lg default" role="button">선택완료</button>
          </div>
        </div>
        -->
    </div>
  </div>
</div>