<div class="modal type1">
    <div class="modal-contents">
        <div class="modal-header">
            <h1 class="modal-title">고객문의 상세</h1>
            <a class="btn-common-modal-close" (click)="onCloseClick()">닫기</a>
        </div>
        <div class="modal-body pd-all">
            <div class="modal-qna-view">
                <!--
            - .reservation-title의 구조는 예약리스트 아이템과 같음
            - 항공 / 호텔 / 액티비티 / 렌터카 / 묶음할인 아이콘 동일 하게 사용
          -->
                <div class="reservation-title">
                    <span class="icon sm flight"></span>
                    <span class="text">YB12341231231</span>
                    <span class="label square type2">답변완료</span>
                </div>
                <div class="question-summary">
                    <h2 class="product-title">인천 - 로스앤젤레스 - 샌프란시스코 - 인천</h2>
                    <ul>
                        <li>
                            <span>이용일</span>
                            <span>2019.12.20 13:00</span>
                        </li>
                        <li>
                            <span>상담분류</span>
                            <span>결제 시한 연장</span>
                        </li>
                        <li>
                            <span>접수일시</span>
                            <span>2019.12.20 13:00</span>
                        </li>
                    </ul>
                </div>
                <!-- 문의 내용 상세 -->
                <div class="question-detail">
                    결제 시한 연장 부탁드립니다. <br>
                    연장 안해주면 진짜 취소해버릴꺼예욧!!!
                </div>
                <!-- 답변 내용 상세 -->
                <!-- 답변이 달리기 전에는 보여주지 않는다 -->
                <div class="answer-detail">
                    안녕하세요.<br>
                    휴먼!<br>
                    너의 여행은 끝났다. <br>
                    <p class="reply-time">2019.12.20 13:00</p>
                </div>
            </div>
            <div class="btn-group mt30">
                <a class="btn lg grey" (click)="onCloseClick()">목록</a>
            </div>
        </div>
    </div>
</div>