<!-- Calendar Modal -->
<div class="modal">
    <!-- modal header -->
    <div class="modal-header">
        <h1>아동/유아 항공권 예약안내</h1>
        <div class="right">
            <a (click)="modalClose()" class="icon sm common-close">닫기</a>
        </div>
    </div>
    <!-- modal contents -->
    <div class="modal-contents">
        <div class="page-contents-type2">
            <dl class="text-list2 mb30">
                <dt><strong>유아/소아 항공권 예약안내</strong></dt>
                <dd>유아/소아는 탑승 시 반드시 보호자 동반이 필요합니다. 보호자를 동반하지 않는 유아/소아의 항공권을 예약하시는 경우, 반드시 항공사를 통해 직접 예약해야 합니다.</dd>
                <dd>유아/소아의 성인 항공권 예약이 허용되는 경우도 있으나, 각 항공사마다 관련 규정이 다르므로 반드시 탑승 항공사의 규정을 확인하시기 바랍니다.</dd>
                <dd>귀국일 기준으로 만 2세가 넘는 유아와 만 12세 이상인 소아는 추가 차액이 발생하며 항공사 규정에 따라 발권이 불가할 수 있으니 결제 전 문의 바랍니다.</dd>
            </dl>
            <dl class="text-list2">
                <dt><strong>유아 항공권</strong></dt>
                <dd>유아는 출발일 기준으로 생후 14일~만 2세 미만에 해당합니다.</dd>
                <dd>유아 항공운임: 각 항공사 규정에 따라 할인된 가격이 적용될 수 있습니다.</dd>
                <dd>출발일 기준으로 생후 14일 미만의 유아 항공권을 예약하시는 경우, 항공사에 직접 문의하시기 바랍니다.</dd>
                <span class="color-sub3">※ 유아는 좌석이 제공되지 않습니다.</span>
            </dl>
            <br>
            <dl class="text-list2">
                <dt><strong>소아 항공권</strong></dt>
                <dd>소아는 출발일 기준으로 만 2세~만 12세 미만에 해당합니다.</dd>
                <dd>소아 항공운임: 각 항공사 규정에 따라 할인된 가격이 적용될 수 있습니다.</dd>
                <dd>성인과 소아는 반드시 동일한 좌석 등급의 항공권을 예약해야 하며, 같은 좌석 등급의 항공권이 아닐 경우 탑승이 거절될 수 있습니다.</dd>
            </dl>
        </div>
    </div>