<div *ngIf="loadingBool" class="p-flight-booking-complete-page">
    <!-- 헤더 -->
    <app-header [headerConfig]="headerConfig"></app-header>

    <!-- 컨덴츠 -->
    <div id="container">
        <div id="contents">
            <div class="bg-space">
                <div class="contents-item middle">
                    <div class="booking-complete">
                        <h2 class="complete-title"><strong>{{ sessionRQ.userName }}</strong> 님 예약 및 결제가 완료되었습니다.
                        </h2>
                        <p class="complete-sub-title">노랑풍선과 함께 즐거운 여행이 되길 바랍니다.</p>
                        <div class="reservation-summary">
                            <div class="summary-header">
                                <strong>항공 예약 내역</strong>
                                <div class="btn-group">
                                    <a (click)="detailLink()" class="btn md light inline">상세보기</a>
                                    <a href="#" class="btn md light inline"><i class="icon xs share"></i>공유하기</a>
                                    <a (click)="listLink()" class="btn md light inline"><i class="icon xs user"></i>마이페이지</a>
                                </div>
                            </div>
                            <div class="summary-body">
                                <!-- 편도일때는 아래 .reservation-information.flight에 .oneway, 다구간일때는 .multiple 추가 -->
                                <!-- 결제 마감일이 표시될때는 .tl 추가 -->
                                <div class="reservation-information flight tl">
                                    <div class="column">
                                        <p class="title">출발지</p>
                                        <p class="text">{{ resultList.departure.cityName }}</p>
                                    </div>
                                    <div class="column">
                                        <p class="title">도착지</p>
                                        <p class="text">{{ resultList.return.cityName }}</p>
                                    </div>
                                    <div class="column">
                                        <p class="title">여행일</p>
                                        <p class="text">
                                            {{resultList.departure.date}}({{resultList.departure.date | date : 'EEE'}}) - {{resultList.return.date}}({{resultList.return.date | date : 'EEE'}})
                                        </p>
                                    </div>
                                    <div class="column">
                                        <p class="title">예약번호</p>
                                        <p class="text">YB{{resultList.bookingItemCode}}</p>
                                    </div>
                                    <div class="column">
                                        <p class="title">결제마감</p>
                                        <p class="text"><strong>{{ resultList.ticketTimeLimit }}까지</strong></p>
                                    </div>
                                </div>
                                <ul class="text-list dot">
                                    <li>결제 마감 시까지 결제가 되지 않으면 예약은 자동 취소되며 예약취소, 변경 요청은 예약 상세내역에서 처리할 수 있습니다.</li>
                                    <li>항공권 eTicket, 호텔 Voucher 등은 예약 시 입력한 메일로 발송해드립니다.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contents-item middle mt70">
                    <h3 class="heading-title2 mb30">간편 여행자 보험</h3>
                    <div class="contents-box flex-between">
                        <a href="#" class="insurance-item">
                            <i class="icon lg insurance1"></i>
                            <p class="title">Travel Plus</p>
                            <p class="text">든든한 여행의 필수품! 여행자보험</p>
                            <p class="price"><strong>149,000</strong><span>원</span></p>
                        </a>
                        <a href="#" class="insurance-item">
                            <i class="icon lg insurance2"></i>
                            <p class="title">Travel Basic</p>
                            <p class="text">여행 갈 때 꼭 챙기세요! 여행자보험</p>
                            <p class="price"><strong>149,000</strong><span>원</span></p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="contents-item middle">
                <h3 class="contents-title">비슷한 시기에 <strong>많이 예약한 상품</strong></h3>
                <p class="contents-sub-title">회원님과 비슷한 시기에 로스앤젤레스를 여행하는 회원들이 많이 예약한 상품입니다.</p>
                <div class="category-filter">
                    <a href="#" class="category-item active">티켓/패스/입장권</a>
                    <a href="#" class="category-item">현지투어</a>
                    <a href="#" class="category-item">호텔픽업</a>
                    <a href="#" class="category-item">렌터카</a>
                    <a href="#" class="text-link">더보기</a>
                </div>
                <!-- 3개식 반복 -->
                <div class="contents-box flex-between">
                    <!-- 인기 액티비티 아이템 -->
                    <a href="#" class="activity-popularity-item type2">
                        <div class="activity-image" style="background-image:url('/assets/images/temp/@temp-freestyle-item-image.jpg');">
                        </div>
                        <div class="activity-information">
                            <p class="title">LA Photoshoot Session with Professional Photographer</p>
                            <ul>
                                <li class="user">1인</li>
                                <li class="luggage">2개</li>
                                <li class="time">1시간</li>
                            </ul>
                            <p class="price"><strong>30,000</strong><span>원</span><span class="free">무료취소</span></p>
                        </div>
                    </a>
                    <!-- 인기 액티비티 아이템 -->
                    <a href="#" class="activity-popularity-item type2">
                        <div class="activity-image" style="background-image:url('/assets/images/temp/@temp-freestyle-item-image.jpg');">
                        </div>
                        <div class="activity-information">
                            <p class="title">LA Photoshoot Session with Professional Photographer</p>
                            <ul>
                                <li class="user">1인</li>
                                <li class="luggage">2개</li>
                                <li class="time">1시간</li>
                            </ul>
                            <p class="price"><strong>30,000</strong><span>원</span><span class="free">무료취소</span></p>
                        </div>
                    </a>
                    <!-- 인기 렌터카 아이템 -->
                    <a href="#" class="rentalcar-popularity-item">
                        <div class="rentalcar-image">
                            <img src="/assets/images/temp/@temp-rentalcar-image.png" alt="">
                        </div>
                        <div class="rentalcar-information">
                            <p class="name">
                                <img src="/assets/images/temp/@temp-rentalcar-logo.png" alt="" class="rentalcar-logo">
                                <strong>Mitsubishi Mirageitsubishi Mirageitsubishi Mirageitsubishi Mirageitsubishi Mirage</strong>
                            </p>
                            <ul class="include">
                                <li class="person">4인승</li>
                                <li class="door">4도어</li>
                                <li class="air">에어컨</li>
                                <li class="gear">자동 변속</li>
                            </ul>
                            <p class="price"><strong>USD 224.93</strong></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- 푸터 -->
    <app-footer></app-footer>

</div>