<!-- 공지사항 아이템 반복 -->
<a href="#" class="notice-list-item">
    <strong>[항공] 2020년 2월 유류할증료 안내</strong>
    <span>2019.09.15</span>
</a>
<!-- 공지사항 아이템 반복 -->
<a href="#" class="notice-list-item">
    <strong>[항공] 국가별 출/입국 주요 제한 사항</strong>
    <span>2019.09.15</span>
</a>
<!-- 공지사항 아이템 반복 -->
<a href="#" class="notice-list-item">
    <strong>[렌터카] 2020년 수수료 안내</strong>
    <span>2019.09.15</span>
</a>
<!-- pagination -->
<div class="pagination">
    <a href="#" class="btn-first" title="맨처음">맨처음</a>
    <a href="#" class="btn-prev" title="이전">이전</a>
    <strong>1</strong>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#" class="btn-next" title="다음">다음</a>
    <a href="#" class="btn-last" title="맨끝">맨끝</a>
</div>
<!-- 공지사항 없음 -->
<div class="list-nodata">
    <div class="nodata-msg">
        <i class="icon lg caution"></i>
        <p>등록된 공지사항이 없습니다.</p>
    </div>
</div>
<!-- 검색결과 없음 -->
<div class="list-nodata">
    <div class="nodata-msg">
        <i class="icon lg caution"></i>
        <p>조건에 맞는 검색 결과가 없습니다.</p>
        <div class="btn-group">
            <a href="#" class="btn lg default">다시 검색</a>
        </div>
    </div>
</div>