<div class="contents-item mg">
    <h2 class="contents-title line">쿠폰 다운로드<a href="#" class="text-link"><span class="icon xs download"></span><span class="text">일괄다운</span></a></h2>
    <div class="coupon-download">
        <div class="scroll-box-filter extend">
            <!-- 선택된 버튼 -->
            <a href="#" class="btn inline md round default shadow">#회원전용</a>
            <!-- 선택안된 기본 상태 버튼 -->
            <a href="#" class="btn inline md round line light shadow">#비회원전용</a>
            <a href="#" class="btn inline md round line light shadow">#아무나가능</a>
            <a href="#" class="btn inline md round line light shadow">#즉시사용</a>
            <a href="#" class="btn inline md round line light shadow">#중복사용</a>
        </div>
        <div class="scroll-box-list extend coupon-list">
            <!-- .coupon-item 반복 -->
            <div class="coupon-item">
                <div class="coupon-item-top">
                    <p class="discount">
                        <em>5,000</em>원
                    </p>
                    <p class="text">호텔+액티비티 동시 예약 할인 쿠폰</p>
                </div>
                <div class="coupon-item-middle"></div>
                <div class="coupon-item-bottom">
                    <a href="#" class="text-link"><span class="icon xs download2"></span><span class="text color-point2">DOWN</span></a>
                </div>
            </div>
            <!-- .coupon-item 반복 -->
            <div class="coupon-item">
                <div class="coupon-item-top">
                    <p class="discount">
                        <em>5,000</em>원
                    </p>
                    <p class="text">호텔+액티비티 동시 예약 할인 쿠폰</p>
                </div>
                <div class="coupon-item-middle"></div>
                <div class="coupon-item-bottom">
                    <a href="#" class="text-link"><span class="icon xs download2"></span><span class="text color-point2">DOWN</span></a>
                </div>
            </div>
            <!-- .coupon-item 반복 -->
            <div class="coupon-item">
                <div class="coupon-item-top">
                    <p class="discount">
                        <em>5,000</em>원
                    </p>
                    <p class="text">호텔+액티비티 동시 예약 할인 쿠폰</p>
                </div>
                <div class="coupon-item-middle"></div>
                <div class="coupon-item-bottom">
                    <a href="#" class="text-link"><span class="icon xs download2"></span><span class="text color-point2">DOWN</span></a>
                </div>
            </div>
            <!-- .coupon-item 반복 -->
            <div class="coupon-item">
                <div class="coupon-item-top">
                    <p class="discount">
                        <em>5,000</em>원
                    </p>
                    <p class="text">호텔+액티비티 동시 예약 할인 쿠폰</p>
                </div>
                <div class="coupon-item-middle"></div>
                <div class="coupon-item-bottom">
                    <a href="#" class="text-link"><span class="icon xs download2"></span><span class="text color-point2">DOWN</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
