<div class="contents-item mg">
    <h2 class="contents-title">실시간 고객 여행플랜</h2>
    <div class="scroll-box-filter extend">
        <!-- 선택된 버튼 -->
        <a href="#" class="btn inline md round default shadow">#30대</a>
        <!-- 선택안된 기본 상태 버튼 -->
        <a href="#" class="btn inline md round line light shadow">#여성</a>
        <a href="#" class="btn inline md round line light shadow">#다낭</a>
        <a href="#" class="btn inline md round line light shadow">#힐링</a>
        <a href="#" class="btn inline md round line light shadow">#오사카</a>
    </div>
    <div class="scroll-box-list no-mg extend">
        <div class="scroll-item-outer">
            <!-- 여행플랜 아이템 -->
            <div class="travel-plan-item">
                <!-- .btn-width 클릭시 .active 토글 -->
                <a href="#" class="btn-wish">관심상품</a>
                <div class="travel-plan-image" style="background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/assets/images/temp/@temp-hotplace.png) 50% 50% no-repeat; background-size: cover;">
                    <div class="article">
                        <span class="like">250</span>
                        <span class="share">830</span>
                    </div>
                </div>
                <div class="travel-plan-item-information">
                    <p class="title">동남아 힐링 스팟으로 초대</p>
                    <p class="tag"><span>#절친과 떠나는 여행</span><span>#라차섬</span><span>#빠동</span></p>
                    <p class="price"><strong>413,000</strong><span>원</span></p>
                </div>
            </div>
            <!-- 여행플랜 아이템 -->
            <div class="travel-plan-item">
                <!-- .btn-width 클릭시 .active 토글 -->
                <a href="#" class="btn-wish">관심상품</a>
                <div class="travel-plan-image" style="background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/assets/images/temp/@temp-hotplace.png) 50% 50% no-repeat; background-size: cover;">
                    <div class="article">
                        <span class="like">250</span>
                        <span class="share">830</span>
                    </div>
                </div>
                <div class="travel-plan-item-information">
                    <p class="title">동남아 힐링 스팟으로 초대</p>
                    <p class="tag"><span>#절친과 떠나는 여행</span><span>#라차섬</span><span>#빠동</span></p>
                    <p class="price"><strong>413,000</strong><span>원</span></p>
                </div>
            </div>
            <!-- 여행플랜 아이템 -->
            <div class="travel-plan-item">
                <!-- .btn-width 클릭시 .active 토글 -->
                <a href="#" class="btn-wish">관심상품</a>
                <div class="travel-plan-image" style="background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/assets/images/temp/@temp-hotplace.png) 50% 50% no-repeat; background-size: cover;">
                    <div class="article">
                        <span class="like">250</span>
                        <span class="share">830</span>
                    </div>
                </div>
                <div class="travel-plan-item-information">
                    <p class="title">동남아 힐링 스팟으로 초대</p>
                    <p class="tag"><span>#절친과 떠나는 여행</span><span>#라차섬</span><span>#빠동</span></p>
                    <p class="price"><strong>413,000</strong><span>원</span></p>
                </div>
            </div>
            <!-- TODO 더보기 -->
            <div class="view-more-item">
                <span class="icon sm plus"></span>
                <p>더보기</p>
            </div>
        </div>
    </div>
</div>