.p-rent-booking-information {

  .checkbox-txt-area {
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    color: #999;
    line-height: 140%;

    .is-underline {
      color: #666;
      text-decoration: underline;
    }
  }


}
