<div class="contents-item mg">
    <h2 class="contents-title">인기 와이파이 상품</h2>
    <div class="scroll-box-list no-mg extend">
        <div class="scroll-item-outer">
            <!-- 여행편의 아이템 -->
            <div class="travel-convenience-item">
                <div class="travel-convenience-image" style="background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(assets/images/temp/@temp-hotplace.png) 50% 50% no-repeat;">
                </div>
                <div class="travel-convenience-item-information">
                    <p class="title">미국/하와이 LTE 무제한 포켓 와이파이</p>
                    <p class="location"><span class="icon xs location3"></span><span>미국, 샌프란시스코</span></p>
                    <p class="price"><strong>41,000</strong><span>원 부터</span></p>
                </div>
            </div>
            <!-- 여행편의 아이템 -->
            <div class="travel-convenience-item">
                <div class="travel-convenience-image" style="background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(assets/images/temp/@temp-hotplace.png) 50% 50% no-repeat;">
                </div>
                <div class="travel-convenience-item-information">
                    <p class="title">미국/하와이 LTE 무제한 포켓 와이파이</p>
                    <p class="location"><span class="icon xs location3"></span><span>미국, 샌프란시스코</span></p>
                    <p class="price"><strong>41,000</strong><span>원 부터</span></p>
                </div>
            </div>
            <!-- 여행편의 아이템 -->
            <div class="travel-convenience-item">
                <div class="travel-convenience-image" style="background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(assets/images/temp/@temp-hotplace.png) 50% 50% no-repeat;">
                </div>
                <div class="travel-convenience-item-information">
                    <p class="title">미국/하와이 LTE 무제한 포켓 와이파이</p>
                    <p class="location"><span class="icon xs location3"></span><span>미국, 샌프란시스코</span></p>
                    <p class="price"><strong>41,000</strong><span>원 부터</span></p>
                </div>
            </div>
            <!-- 더보기
        <div class="view-more-item">
            <span class="icon sm plus"></span>
            <p>더보기</p>
        </div>
         -->
        </div>
    </div>
</div>