  <!-- Calendar Modal -->
  <div class="modal">
    <!-- modal header -->
    <div class="modal-header">
      <h1>아동/유아 항공권 예약안내</h1>
      <div class="right">
        <a (click)="modalClose()" class="icon sm common-close">닫기</a>
      </div>
    </div>
    <!-- modal contents -->
    <div class="modal-contents">
      <div class="page-contents-type2">
        <dl class="text-list2 mb30">
          <dt><strong>유아 항공권 (생후 14일 ~ 만 2세 미만)</strong></dt>
          <dd>유아는 출발일 기준으로 생후 14일~만 2세 미만에 해당합니다.<br>출발일 기준으로 생후 14일 미만의 유아 항공권을 예약하려는 경우, 항공사에 직접 문의하시기 바랍니다.</dd>
          <dd>유아 항공운임 : 유아 항공권의 예상세금 및 기타요금은 각 항공사 규정에 따라 할인된 가격이 적용됩니다.<br><span class="color-sub3">(※유아는 개별 좌석 이용이 불가합니다.)</span>
        </dl>
        <dl class="text-list2">
          <dt><strong>아동 항공권 (만 2 ~ 11세)</strong></dt>
          <dd>어린이는 출발일 기준으로 만 2세~만 11세에 해당합니다.</dd>
          <dd>어린이 항공운임: 어린이 항공권의 예상세금 및 기타요금은 각 항공사 규정에 따라 할인된 가격이 적용됩니다.</dd>
          <dd>어린이/유아는 탑승 시 반드시 보호자 동반이 필요합니다.<br>보호자를 동반하지 않는 어린이/유아의 항공권을 예약하려는 경우, 반드시 항공사를 통해 직접 예약해야 합니다.</dd>
          <dd>어린이/유아 유효신분증: 여권, 등본, 출생증명서 등</dd>
          <dd>어린이/유아의 성인 항공권 예약이 허용되는 경우도 있으나, 각 항공사마다 관련 규정이 다르므로 예약 항공사의 규정을 확인하시기 바랍니다.</dd>
          <dd>성인과 어린이는 반드시 동일한 좌석등급의 항공권을 예약해야 합니다. </dd>
          <dd>같은 좌석등급의 항공권이 아닐 경우 탑승이 거절될 수 있음에 주의하십시오.</dd>
        </dl>
      </div>
    </div>