<div id="wrap" class="p-airtel">

    <!-- header -->
    <app-header></app-header>
    <app-airtel-header [headerType]="headerType" [headerConfig]="headerConfig"></app-airtel-header>

    <!-- contents -->
    <div id="contents" class="content-area">

        <!-- 메인 검색 -->
        <app-airtel-main-search class="contents-item-area"></app-airtel-main-search>

        <!-- 최근 검색한 여행지 -->
        <app-airtel-new-search-list class="contents-item-area"></app-airtel-new-search-list>

        <!-- 가장 인기 있는 로스앤젤레스 항공+호텔 -->
        <app-airtel-hot-list class="contents-item-area"></app-airtel-hot-list>

        <!-- 박종선 님 만을 위한 이벤트 -->
        <app-airtel-customer-event class="contents-item-area"></app-airtel-customer-event>

        <!-- 쿠폰 다운로드 -->
        <app-airtel-coupon-down class="contents-item-area"></app-airtel-coupon-down>

    </div>

    <!-- footer -->
    <app-footer></app-footer>

</div>

<router-outlet></router-outlet>