<!-- 가장 인기 있는 로스앤젤레스 렌터카 -->
<h2 class="contents-title line">가장 인기 있는 로스앤젤레스 렌터카</h2>
<h3 class="contents-sub-text">
    <span>로스앤젤레스, 08.31(수) 10:00 - 09.20(목) 10:00</span>
</h3>
<div class="scroll-box-list extend no-mg">
    <!-- 아이템 반복 -->
    <div class="saved-item popularity-rentalcar">
        <div class="rentalcar-image" style="background: url('/assets/images/temp/@temp-rentalcar-image.png') 50% 50% no-repeat; background-size: cover;"></div>
        <div class="rentalcar-item-information">
            <div class="name"><img src="/assets/images/temp/@temp-rentalcar-logo.png" alt="" class="rentalcar-logo">Mitsubishi Mirage</div>
            <div class="flex-list">
                <div><span class="person">4인승</span></div>
                <div><span class="door">4도어</span></div>
            </div>
            <div class="flex-list">
                <div><span class="air">에어컨</span></div>
                <div><span class="gear">자동 변속</span></div>
            </div>
            <div class="price">USD 224.93</div>
        </div>
    </div>
    <!-- 아이템 반복 -->
    <div class="saved-item popularity-rentalcar">
        <div class="rentalcar-image" style="background: url('/assets/images/temp/@temp-rentalcar-image.png' ) 50% 50% no-repeat; background-size: cover;"></div>
        <div class="rentalcar-item-information">
            <div class="name"><img src="/assets/images/temp/@temp-rentalcar-logo.png" alt="" class="rentalcar-logo">Mitsubishi Mirage</div>
            <div class="flex-list">
                <div><span class="person">4인승</span></div>
                <div><span class="door">4도어</span></div>
            </div>
            <div class="flex-list">
                <div><span class="air">에어컨</span></div>
                <div><span class="gear">자동 변속</span></div>
            </div>
            <div class="price">USD 224.93</div>
        </div>
    </div>
    <!-- 아이템 반복 -->
    <div class="saved-item popularity-rentalcar">
        <div class="rentalcar-image" style="background: url('/assets/images/temp/@temp-rentalcar-image.png' ) 50% 50% no-repeat; background-size: cover;"></div>
        <div class="rentalcar-item-information">
            <div class="name"><img src="/assets/images/temp/@temp-rentalcar-logo.png" alt="" class="rentalcar-logo">Mitsubishi Mirage</div>
            <div class="flex-list">
                <div><span class="person">4인승</span></div>
                <div><span class="door">4도어</span></div>
            </div>
            <div class="flex-list">
                <div><span class="air">에어컨</span></div>
                <div><span class="gear">자동 변속</span></div>
            </div>
            <div class="price">USD 224.93</div>
        </div>
    </div>
</div>