<div id="wrap" class="p-cm-reservation-cancel">

    <!-- header -->
    <app-header></app-header>
    <app-mypage-header [headerType]="headerType" [headerConfig]="headerConfig"></app-mypage-header>

    <!-- contents -->
    <div id="contents">
        <div class="page-contents-type2 fixed-btn-footer">
            <div class="contents-item">
                <h2 class="contents-title">탑승객 선택</h2>
                <div class="round-box">
                    <!-- 체크박스 checked 될때마다 해당 모달을 띄움 -->
                    <ul class="row-group">
                        <li class="row line-bottom">
                            <label class="checkbox">
                                <input id="allChk" type="checkbox" [(ngModel)]="selectedAll" (change)="allCheck()" class="checkbox-control-input">
                                <span class="checkbox-control-text">전체 대상 취소</span>
                            </label>
                        </li>
                        <li *ngFor="let t of travelers; index as i" class="row dash-bottom">
                            <label class="checkbox checkbox-item">
                                <input type="checkbox" [(ngModel)]="t.selected" (change)="onCheck()" class="checkbox-control-input">
                                <span class="checkbox-control-text">성인 {{i+1}}. {{t.name}} ({{t.sex == 'M' ? '남' : '여'}})</span>
                            </label>
                        </li>
                        <!-- <li class="row">
                <label class="checkbox checkbox-item">
                  <input type="checkbox" (change)="onCheck()" class="checkbox-control-input">
                  <span class="checkbox-control-text">성인2. KIM/GILDONG (여)</span>
                </label>
              </li> -->
                    </ul>
                </div>
                <ul class="text-list mt20">
                    <li>이미 취소된 예약은 탑승객을 취소하실 수 없습니다.</li>
                    <li>소아/유아를 제외한 최소 출발인원은 1명 입니다.</li>
                    <li>소아/유아를 제외한 인원수가 최소 출발인원 수보다 적으면 예약 취소 후 다시 예약하셔야 합니다.</li>
                    <li>항공권 환불이나 항공권 재발행시 여행사 발권 수수료가 부과됩니다.</li>
                    <li>항공사 취소 수수료의 경우는 요금규정을 참고해 주시기 바랍니다.</li>
                    <li class="none-pd mt10"><strong class="color-sub6">※ 노랑풍선은 항공권판매중개자이며 항공권 판매의 당사자가 아닙니다.</strong></li>
                </ul>
            </div>
            <div class="btn-group both pd bg2 fixed-bottom">
                <a (click)="onBackClick($event)" class="btn lg grey">아니오</a>
                <a (click)="openFlightCancel($event)" class="btn lg default">예</a>
            </div>
        </div>
    </div>
</div>5