<mat-card>
  <form class="example-form" [formGroup]="signUpForm">
    <div>
      <mat-form-field class="example-full-width">
        <input formControlName="username" matInput placeholder="Login(Id or Email)" value="">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="example-full-width">
        <input formControlName="password" type="password" matInput placeholder="password">
      </mat-form-field>
    </div>
  </form>
  <mat-button-toggle (click)="signUp()">SignUp</mat-button-toggle>
</mat-card>
