<!-- 마일리지 아이템 -->
<div class="round-box">
  <div class="flex-list between">
    <div>
      <p class="font-md-b mb5">플래티넘 회원 자동 적립</p>
      <p class="font-xs color-sub3">2020.03.10</p>
    </div>
    <div>
      <p><strong class="color-point2">+ 10,000</strong><span class="font-xs color-sub5 ml2">적립</span></p>
    </div>
  </div>
</div>
<!-- 마일리지 아이템 -->
<div class="round-box">
  <div class="flex-list between">
    <div>
      <p class="font-md-b mb5">액티비티 구매</p>
      <p class="font-xs color-sub3">2020.03.09</p>
    </div>
    <div>
      <p><strong class="color-sub5">- 10,000</strong><span class="font-xs color-sub5 ml2">사용</span></p>
    </div>
  </div>
</div>
<!-- 마일리지 아이템 -->
<div class="round-box">
  <div class="flex-list between">
    <div>
      <p class="font-md-b mb5">마일리지 사용기간 만료</p>
      <p class="font-xs color-sub3">2020.03.09</p>
    </div>
    <div>
      <p><strong class="color-sub5">- 10,000</strong><span class="font-xs color-sub5 ml2">소멸</span></p>
    </div>
  </div>
</div>
<!-- 마일리지 아이템 -->
<div class="round-box">
    <div class="flex-list between">
        <div>
        <p class="font-md-b mb5">마일리지 사용기간 만료</p>
        <p class="font-xs color-sub3">2020.03.09</p>
        </div>
        <div>
        <p><strong class="color-sub5">- 10,000</strong><span class="font-xs color-sub5 ml2">소멸</span></p>
        </div>
    </div>
</div>
<!-- 마일리지 아이템 -->
<div class="round-box">
    <div class="flex-list between">
      <div>
        <p class="font-md-b mb5">마일리지 사용기간 만료</p>
        <p class="font-xs color-sub3">2020.03.09</p>
      </div>
      <div>
        <p><strong class="color-sub5">- 10,000</strong><span class="font-xs color-sub5 ml2">소멸</span></p>
      </div>
    </div>
</div>
<!-- 내역 없을때
<div class="nodata">
    <div class="nodata-msg">
        <span class="icon alert2"></span>
        <p class="text">마일리지 내역이 없습니다.</p>
    </div>
</div> -->