<!-- 가장 인기 있는 로스앤젤레스 항공+호텔 -->
<h2 class="contents-title line">가장 인기 있는 로스앤젤레스 항공권</h2>
<h3 class="contents-sub-text group">
    <span>마지막 검색</span><span>인천-로스엔젤레스, 08.31-09.20, 성인 1, 일반석</span>
</h3>
<div class="scroll-box-list extend no-mg">
    <div class="scroll-item-outer">
        <!-- .saved-item 반복 -->
        <div class="saved-item popularity">
            <ul>
                <li class="airline"><img src="/assets/images/temp/@temp-airline.png" alt="" class="airline-logo">아시아나 항공</li>
                <li class="flight-schedule">
                    <div class="departure">
                        <div>
                            <p class="code">ICN</p>
                            <p class="time">08.31 19:40</p>
                        </div>
                        <div>
                            <p class="code">LAX</p>
                            <p class="time">09.01 12:00</p>
                        </div>
                        <div>
                            <p class="layover">직항</p>
                            <p class="time">12시간04분</p>
                        </div>
                    </div>
                    <div class="destination">
                        <div>
                            <p class="code">LAX</p>
                            <p class="time">08.31 19:40</p>
                        </div>
                        <div>
                            <p class="code">ICN</p>
                            <p class="time">09.01 12:00</p>
                        </div>
                        <div>
                            <p class="layover">직항</p>
                            <p class="time">12시간04분</p>
                        </div>
                    </div>
                </li>
                <li class="clearfix">
                    <span class="price">1,250,000원</span>
                </li>
            </ul>
        </div>
        <!-- .saved-item 반복 -->
        <div class="saved-item popularity">
            <ul>
                <li class="airline"><img src="/assets/images/temp/@temp-airline.png" alt="" class="airline-logo">아시아나 항공</li>
                <li class="flight-schedule">
                    <div class="departure">
                        <div>
                            <p class="code">ICN</p>
                            <p class="time">08.31 19:40</p>
                        </div>
                        <div>
                            <p class="code">LAX</p>
                            <p class="time">09.01 12:00</p>
                        </div>
                        <div>
                            <p class="layover">직항</p>
                            <p class="time">12시간04분</p>
                        </div>
                    </div>
                    <div class="destination">
                        <div>
                            <p class="code">LAX</p>
                            <p class="time">08.31 19:40</p>
                        </div>
                        <div>
                            <p class="code">ICN</p>
                            <p class="time">09.01 12:00</p>
                        </div>
                        <div>
                            <p class="layover">직항</p>
                            <p class="time">12시간04분</p>
                        </div>
                    </div>
                </li>
                <li class="clearfix">
                    <span class="price">1,250,000원</span>
                </li>
            </ul>
        </div>
        <!-- .saved-item 반복 -->
        <div class="saved-item popularity">
            <ul>
                <li class="airline"><img src="/assets/images/temp/@temp-airline.png" alt="" class="airline-logo">아시아나 항공</li>
                <li class="flight-schedule">
                    <div class="departure">
                        <div>
                            <p class="code">ICN</p>
                            <p class="time">08.31 19:40</p>
                        </div>
                        <div>
                            <p class="code">LAX</p>
                            <p class="time">09.01 12:00</p>
                        </div>
                        <div>
                            <p class="layover">직항</p>
                            <p class="time">12시간04분</p>
                        </div>
                    </div>
                    <div class="destination">
                        <div>
                            <p class="code">LAX</p>
                            <p class="time">08.31 19:40</p>
                        </div>
                        <div>
                            <p class="code">ICN</p>
                            <p class="time">09.01 12:00</p>
                        </div>
                        <div>
                            <p class="layover">직항</p>
                            <p class="time">12시간04분</p>
                        </div>
                    </div>
                </li>
                <li class="clearfix">
                    <span class="price">1,250,000원</span>
                </li>
            </ul>
        </div>
    </div>
</div>