<body class="bg">
    <div id="wrap">
        <!-- 노랑풍선 공통 헤더 -->
        <app-header [headerConfig]="headerConfig"></app-header>

        <!-- 컨덴츠 -->
        <div id="container">
            <div id="contents" class="middle default">
                <h2 class="heading-title3 mb20">프로모션</h2>
                <!-- 프로모션 상세 내용 들어가는 영역 -->
                <div class="promotion-detail">
                    <div class="promotion-item-detail">
                        <img src="../../assets/images/temp/@temp-event.png" alt="">
                    </div>
                    <div class="promotion-banner">
                        <a href="#"><img src="../../assets/images/temp/@temp-promotion-banner.png" alt=""></a>
                    </div>
                </div>
                <div class="btn-group align-r mt20">
                    <a href="#" class="btn lg grey inline">목록</a>
                </div>
            </div>
        </div>

        <!-- 노랑풍선 공통 푸터 -->
        <app-footer></app-footer>
    </div>
</body>