<div class="modal">
    <!-- modal header -->
    <div class="modal-header">
      <h1>마일리지 이용안내</h1>
      <div class="right">
        <a (click)="onCloseClick()" class="icon sm common-close">닫기</a>
      </div>
    </div>
    <!-- modal contents -->
    <div class="modal-contents">
      <div class="page-contents-type2">
        <ul class="text-list">
          <li>1,000풍선 부터 1원 단위로 결제 시 사용할 수 있습니다.</li>
          <li>일부 상품에 사용이 제한 될 수 있습니다.</li>
          <li>노랑풍선 마일리지는 온라인 결제 시에만 사용 가능합니다.</li>
          <li>결제 페이지에서 일행 추가 시 나의 마일리지로 일행의 여행비용을 결제 할 수 있습니다.</li>
        </ul>
      </div>
    </div>
  </div>