<div class="">
    <h2>ngx-device-detector works!</h2>
    <div class="m-flex-table" style="margin-top: 10px;">
        <div class="container-fluid m-flex-table-container">
            <div class="row">
                <div class="col text-center" >key</div>
                <div class="col text-center">값</div>
            </div>
            <div class="row">
                <div class="col">browser</div>
                <div class="col">{{deviceInfo.browser | json}}</div>
            </div>
            <div class="row">
                <div class="col">os</div>
                <div class="col">{{deviceInfo.os | json}}</div>
            </div>
            <div class="row">
                <div class="col">device</div>
                <div class="col">{{deviceInfo.device | json}}</div>
            </div>
            <div class="row">
                <div class="col">userAgent</div>
                <div class="col">{{deviceInfo.userAgent | json}}</div>
            </div>
            <div class="row">
                <div class="col">os_version</div>
                <div class="col">{{deviceInfo.os_version | json}}</div>
            </div>
            <div class="row">
                <div class="col">userAgent</div>
                <div class="col">{{deviceInfo.userAgent | json}}</div>
            </div>
            <div class="row">
                <div class="col">isMobile</div>
                <div class="col">{{isMobile}}</div>
            </div>
            <div class="row">
                <div class="col">isTablet</div>
                <div class="col">{{isTablet}}</div>
            </div>
            <div class="row">
                <div class="col">isDesktopDevice</div>
                <div class="col">{{isDesktopDevice}}</div>
            </div>
        </div>
    </div>

</div>
