<!-- Modal 열릴때 body에 .overflow-none 추가 -->

<body class="bg overflow-none">
    <!-- Calendar Modal -->
    <div class="modal bg">
        <!-- modal header -->
        <div class="modal-header">
            <h1>이용후기 작성</h1>
            <div class="right">
                <a (click)="modalClose()" class="icon sm common-close">닫기</a>
            </div>
        </div>
        <!-- modal contents -->
        <div class="modal-contents">
            <div class="page-contents-type2 fixed-btn-footer">
                <!-- 호텔 -->
                <div class="round-box review-product-item">
                    <div class="product-image" style="background: url('../../assets/images/temp/@temp-hotel-image.png') 50% 50% no-repeat; background-size: cover;"></div>
                    <div class="product-item-information">
                        <div class="product-item-header">
                            <h2>밀레니엄 빌트모어 로스앤젤레스</h2>
                            <p>Millennium Biltmore LosAngeles</p>
                        </div>
                        <div class="product-item-body">
                            <div class="item-group">
                                <div class="item-row col">
                                    <div class="left">이용일</div>
                                    <div class="right">2019.12.20(금)-2019.12.30(수), 4박</div>
                                </div>
                                <div class="item-row col">
                                    <div class="left">객실 정보</div>
                                    <div class="right">성인 2, 객실 1, 조식포함, 무료 Wifi</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 액티비티 -->
                <div class="round-box review-product-item">
                    <div class="product-image" style="background: url('../../assets/images/temp/@temp-hotel-image.png') 50% 50% no-repeat; background-size: cover;"></div>
                    <div class="product-item-information">
                        <div class="product-item-header">
                            <h2>로스앤젤레스 자연사 박물관 입장권</h2>
                            <p>Tripadvisor Experiences</p>
                        </div>
                        <div class="product-item-body">
                            <div class="item-group">
                                <div class="item-row col">
                                    <div class="left">이용일</div>
                                    <div class="right">2019.0915(금)-2019.09.21(목), 09:00</div>
                                </div>
                                <div class="item-row col">
                                    <div class="left">옵션</div>
                                    <div class="right">서울/ 인천 제2터미널 면세구역 탑승동<br>4GB(데이터+통화)</div>
                                </div>
                                <div class="item-row col">
                                    <div class="left">수량</div>
                                    <div class="right">성인*2/소아*2/유아*2</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 이용후기 별점 선택 -->
                <div class="round-box review-star-rating">
                    <p class="text">별점을 표현해 주세요!</p>
                    <!-- 별점은 드래그로 조절 가능해야 하며 .s0 ~ .s5까지 클랙스를 추가하며 표시한다. 0.5는 뒤에 h를 붙인다. 예 : s0h, s1h, .s2h, .s3h, .s4h -->
                    <div class="review-rate lg s4"></div>
                </div>
            </div>
            <div class="btn-group both pd bg2 fixed-bottom">
                <a (click)="myReview()" class="btn lg dark">완료(+500P)</a>
                <a (click)="reviewWrite()" class="btn lg default">다음(+2,000P)</a>
            </div>
        </div>
    </div>
</body>