.p-hotel-main {
    .main-search-box {
        display: block;
    }

    .isClickA {
        width: 100%;
        display: inline-block;
        cursor: pointer;
    }

    // .c-calendar{
    //   top: initial;
    //   right: initial;
    //   left:362px;
    // }
}