<!-- 모달 -->
<div class="modal type2">
    <div class="modal-contents">
        <div class="modal-header">
            <h1 class="modal-title">이용후기</h1>
            <a href="#" class="btn-common-modal-close">닫기</a>
        </div>
        <div class="modal-body">
            <div class="side-layout">
                <div class="left-contents modal-review-contents">
                    <!-- 액티비티 일때 -->
                    <div class="product-name">
                        <h2>로스앤젤레스 자연사 박물관 입장권</h2>
                        <p>Tripadvisor Experiences</p>
                    </div>
                    <div class="round-box lg">
                        <ul class="column-contents lg">
                            <li>
                                <span class="title">이용일</span>
                                <span class="text">2019.09.15(금) - 2019.09.21(목), 09:00</span>
                            </li>
                            <li>
                                <span class="title">옵션</span>
                                <span class="text">서울/인천 제2터미널 면세구역 탑승동<br>4GB(데이터+통화)</span>
                            </li>
                            <li>
                                <span class="title">수량</span>
                                <span class="text">성인*2/아동*2/유아*2</span>
                            </li>
                            <li>
                                <span class="title">별점</span>
                                <span class="text">
                                    <!-- .s0 ~ .s5까지 클랙스를 추가하며 표시한다. 0.5는 뒤에 h를 붙인다. 예 : s0h, s1h, .s2h, .s3h, .s4h -->
                                    <div class="review-rate md s4"></div>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <!-- 액티비티 일때 끝 -->
                    <!-- 호텔일때 -->
                    <div class="product-name">
                        <h2>밀레니엄 빌트모어 로스앤젤레스</h2>
                        <p>Millennium Biltmore LosAngeles</p>
                    </div>
                    <div class="round-box lg">
                        <ul class="column-contents lg">
                            <li>
                                <span class="title">이용일</span>
                                <span class="text">2019.12.20(금) - 2019.12.30(수), 4박</span>
                            </li>
                            <li>
                                <span class="title">객실 정보</span>
                                <span class="text align-r">성인 2, 객실 1, 조식포함, 무료 Wifi</span>
                            </li>
                            <li>
                                <span class="title">별점</span>
                                <span class="text">
                                    <!-- .s0 ~ .s5까지 클랙스를 추가하며 표시한다. 0.5는 뒤에 h를 붙인다. 예 : s0h, s1h, .s2h, .s3h, .s4h -->
                                    <div class="review-rate md s4"></div>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <!-- 호텔일때 끝 -->
                    <div class="round-box lg">
                        <div class="customer">
                            <div class="review-text-header">
                                <strong class="color-point2">norang***</strong>
                                <span>2019.08.29</span>
                            </div>
                            <div class="review-text">
                                참 좋은 상품입니다. 담당자 분도 너무 친절해서 여행을 하는 내내 즐거운 마음으로 여행을 즐길 수 있었습니다. 다음 여행에도 꼭 이용하겠습니다.
                            </div>
                        </div>
                        <div class="seller">
                            <div class="review-text-header">
                                <strong>판매자</strong>
                                <span>2019.08.29</span>
                            </div>
                            <div class="review-text">
                                기분좋게 사용하셨다고 하니 다행입니다.<br>앞으로도 많이 이용해주세요.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-contents">
                    <div class="review-photo-gallery">
                        <div class="image-big">
                            <a href="#" class="btn-prev">이전</a>
                            <img src="/assets/images/temp/@temp-hotel-image2.png" alt="">
                            <a href="#" class="btn-next">다음</a>
                            <div class="item-count"><span>1</span><span>64</span></div>
                        </div>
                        <!--
                - 썸네일 리스트
                - 선택한 썸네일에 .active 추가, 해당 이미지를 .image-big에 뿌림
              -->
                        <div class="thumbnail-list">
                            <ul>
                                <li><a href="#" class="active">
                                        <div class="image" style="background: url('/assets/images/temp/@temp-hotel-image2.png');"></div>
                                    </a></li>
                                <li><a href="#">
                                        <div class="image" style="background: url('/assets/images/temp/@temp-hotel-image2.png');"></div>
                                    </a></li>
                                <li><a href="#">
                                        <div class="image" style="background: url('/assets/images/temp/@temp-hotel-image2.png');"></div>
                                    </a></li>
                                <li><a href="#">
                                        <div class="image" style="background: url('/assets/images/temp/@temp-hotel-image2.png');"></div>
                                    </a></li>
                                <li><a href="#">
                                        <div class="image" style="background: url('/assets/images/temp/@temp-hotel-image2.png');"></div>
                                    </a></li>
                                <li><a href="#">
                                        <div class="image" style="background: url('/assets/images/temp/@temp-hotel-image2.png');"></div>
                                    </a></li>
                                <li><a href="#">
                                        <div class="image" style="background: url('/assets/images/temp/@temp-hotel-image2.png');"></div>
                                    </a></li>
                                <li><a href="#">
                                        <div class="image" style="background: url('/assets/images/temp/@temp-hotel-image2.png');"></div>
                                    </a></li>
                                <li><a href="#">
                                        <div class="image" style="background: url('/assets/images/temp/@temp-hotel-image2.png');"></div>
                                    </a></li>
                                <li><a href="#">
                                        <div class="image" style="background: url('/assets/images/temp/@temp-hotel-image2.png');"></div>
                                    </a></li>
                                <li><a href="#">
                                        <div class="image" style="background: url('/assets/images/temp/@temp-hotel-image2.png');"></div>
                                    </a></li>
                                <li><a href="#">
                                        <div class="image" style="background: url('/assets/images/temp/@temp-hotel-image2.png');"></div>
                                    </a></li>
                                <li><a href="#">
                                        <div class="image" style="background: url('/assets/images/temp/@temp-hotel-image2.png');"></div>
                                    </a></li>
                                <li><a href="#">
                                        <div class="image" style="background: url('/assets/images/temp/@temp-hotel-image2.png');"></div>
                                    </a></li>
                                <li><a href="#">
                                        <div class="image" style="background: url('/assets/images/temp/@temp-hotel-image2.png');"></div>
                                    </a></li>
                                <li><a href="#">
                                        <div class="image" style="background: url('/assets/images/temp/@temp-hotel-image2.png');"></div>
                                    </a></li>
                                <li><a href="#">
                                        <div class="image" style="background: url('/assets/images/temp/@temp-hotel-image2.png');"></div>
                                    </a></li>
                                <li><a href="#">
                                        <div class="image" style="background: url('/assets/images/temp/@temp-hotel-image2.png');"></div>
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>