<app-common-modal-loading *ngIf="viewModel.paymentLoading"></app-common-modal-loading>

<div *ngIf="!viewModel.paymentLoading" id="wrap">

    <!-- header -->
    <app-activity-header [headerType]="headerType" [headerConfig]="headerConfig"></app-activity-header>

    <!-- contents -->
    <div id="contents">
        <form #inicisForm [action]="viewModel.inicisUrl" accept-charset="euc-kr">

            <app-inicis-form [inicis]="viewModel.inicisPayment"></app-inicis-form>

            <div class="page-contents-type2">
                <div class="contents-box-title">
                    <div class="contents-icon">
                        <span class="icon-payment"></span>
                    </div>
                    <h2 class="title">결제 정보를 입력해 주세요.</h2>
                    <p class="sub-title">결제 정보 암호화로 안전한 거래를 진행합니다.<br />개인 정보를 안전하게 보호하며 다른 용도로 사용하지 않습니다.</p>
                </div>

                <div *ngIf="false" class="contents-item">
                    <h3 class="contents-title2 line2">할인 쿠폰/노랑 마일리지 적용</h3>
                    <div class="row-group">
                        <div class="row">
                            <h4 class="row-title">쿠폰 선택(3)</h4>
                            <div class="select-box line">
                                <select name="" id="">
                                    <option value="" selected>액티비티 상품 카테고리 할인 (5%)</option>
                                    <option value="">옵션2</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row-title">마일리지 사용</div>
                            <div class="row col2 mileage">
                                <div class="input line no-pd">
                                    <input type="number" placeholder="" class="align-r" value="0">
                                </div>
                                <button class="btn lg default font-md-b" role="button">전액사용</button>
                            </div>
                        </div>
                        <div class="row col2">
                            <h4 class="row-title">보유 마일리지</h4>
                            <div class="align-r"><span class="text">35,700</span><span class="icon sm mileage"></span></div>
                        </div>
                    </div>
                </div>

                <div class="contents-item">
                    <h3 class="contents-title2 line2">최종 결제 금액</h3>
                    <div class="item-group">
                        <div *ngIf="false" class="item-row col">
                            <div class="left">표준 금액(인)</div>
                            <div class="right">{{ viewModel.amountSum | number }} 원</div>
                        </div>
                        <div *ngIf="false" class="item-row col">
                            <div class="left">쿠폰 할인</div>
                            <div class="right">- 82,130원</div>
                        </div>
                        <div class="item-row col last">
                            <div class="left">결제 금액</div>
                            <div class="right">{{ this.viewModel.inicisPayment.P_AMT | number }} 원</div>
                        </div>
                    </div>
                </div>

                <div class="contents-item">
                    <h3 class="contents-title2 line2">결제수단 선택</h3>
                    <div class="tab-wrap">
                        <div class="tab-header type3">
                            <ng-container *ngFor="let item of viewModel.inicisPayType; index as index">
                                <a [class.active]="item.active" (click)="changePaymentType($event, item)" class="tab-header-item">{{ item.name }}</a>
                            </ng-container>
                        </div>
                    </div>

                    <div class="tab-body">
                        <!-- 신용카드 선택했을때 보임 -->
                        <div class="tab-item active">
                            <ul class="text-list mt20">
                                <li>체크카드는 할부 결제가 불가합니다.</li>
                                <li>기명 법인카드(탑승자와 카드에 명기된 이름이 동일한 경우)의 경우 탑승자 본인 카드로 선택하세요.</li>
                            </ul>
                            <div class="btn-group mt30">
                                <button (click)="onPay($event)" class="btn lg default" role="button">결제하기</button>
                            </div>
                        </div>
                    </div>

                    <ul class="text-list mt20">
                        <li>예약 완료까지는 30초에서 2분가량 소요될 수 있습니다.</li>
                        <li>예약 완료 버튼은 1번만 클릭하시기 바라며 클릭 후에는 최종 완료될 때까지 기다려 주시기 바랍니다.</li>
                        <li>완료 전에 창을 닫으면 이중 결제 또는 예약 에러가 발생할 수 있습니다.</li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>