<div id="wrap" class="p-cm-qna-list">

    <!-- header -->
    <app-mypage-header [headerType]="headerType" [headerConfig]="headerConfig"></app-mypage-header>
    <!-- contents -->
    <div id="contents" class="content-area">
        <div class="tab-wrap">
            <div class="tab-header type4 top-blank line">
                <a (click)="selectTab(0)" class="tab-header-item" [ngClass]="{'active': tabNo === 0}"><span>예약 문의</span></a>
                <a (click)="selectTab(1)" class="tab-header-item" [ngClass]="{'active': tabNo === 1}"><span>상품 문의</span></a>
            </div>
            <div class="tab-body">
                <div class="tab-item active">
                    <!-- Tab content 예약 문의 -->
                    <ng-container *ngIf="tabNo === 0">
                        <app-reservation-qna class="contents-item-area"></app-reservation-qna>
                    </ng-container>
                    <!-- Tab content 상품 문의 -->
                    <ng-container *ngIf="tabNo === 1">
                        <app-product-qna class="contents-item-area"></app-product-qna>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>