<div class="contents-item mg">
    <h2 class="contents-title">박종선 님의 맞춤 자유여행</h2>
    <div class="scroll-box-filter extend">
        <!-- 선택된 버튼 -->
        <a href="#" class="btn inline md round default shadow">휴양</a>
        <!-- 선택안된 기본 상태 버튼 -->
        <a href="#" class="btn inline md round line light shadow">배낭</a>
        <a href="#" class="btn inline md round line light shadow">가족</a>
        <a href="#" class="btn inline md round line light shadow">친구</a>
        <a href="#" class="btn inline md round line light shadow">연인</a>
    </div>
    <div class="scroll-box-list no-mg extend">
        <div class="scroll-item-outer">
        <!-- 자유여행 아이템 -->
        <div class="freestyle-item">
            <!-- .btn-width 클릭시 .active 토글 -->
            <a href="#" class="btn-wish">관심상품</a>
            <div class="freestyle-image" style="background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/assets/images/temp/@temp-hotplace.png) 50% 50% no-repeat; background-size: cover;">
            <span class="itinerary">푸켓 5박 6일</span>
            <span class="rate">4.5</span>
            </div>
            <div class="freestyle-type">
            <span class="flight">항공</span>
            <span class="hotel">호텔</span>
            <span class="activity">액티비티</span>
            </div>
            <div class="freestyle-item-information">
            <p class="title">동남아 힐링 스팟으로 초대</p>
            <p class="price"><strong>413,000</strong><span>원 부터</span></p>
            </div>
        </div>
        <!-- 자유여행 아이템 -->
        <div class="freestyle-item">
            <!-- .btn-width 클릭시 .active 토글 -->
            <a href="#" class="btn-wish active">관심상품</a>
            <div class="freestyle-image" style="background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/assets/images/temp/@temp-hotplace.png) 50% 50% no-repeat; background-size: cover;">
            <span class="itinerary">푸켓 5박 6일</span>
            <span class="rate">4.5</span>
            </div>
            <div class="freestyle-type">
            <span class="flight">항공</span>
            <span class="hotel">호텔</span>
            <span class="activity">액티비티</span>
            </div>
            <div class="freestyle-item-information">
            <p class="title">동남아 힐링 스팟으로 초대</p>
            <p class="price"><strong>413,000</strong><span>원 부터</span></p>
            </div>
        </div>
        <!-- 자유여행 아이템 -->
        <div class="freestyle-item">
            <!-- .btn-width 클릭시 .active 토글 -->
            <a href="#" class="btn-wish">관심상품</a>
            <div class="freestyle-image" style="background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/assets/images/temp/@temp-hotplace.png) 50% 50% no-repeat; background-size: cover;">
            <span class="itinerary">푸켓 5박 6일</span>
            <span class="rate">4.5</span>
            </div>
            <div class="freestyle-type">
            <span class="flight">항공</span>
            <span class="hotel">호텔</span>
            <span class="activity">액티비티</span>
            </div>
            <div class="freestyle-item-information">
            <p class="title">동남아 힐링 스팟으로 초대</p>
            <p class="price"><strong>413,000</strong><span>원 부터</span></p>
            </div>
        </div>
        <!-- TODO 더보기 -->
        <div class="view-more-item">
            <span class="icon sm plus"></span>
            <p>더보기</p>
        </div>
        </div>
    </div>
</div>