<div class="modal">
    <!-- modal header -->
    <div class="modal-header">
        <h1>렌터카 유의사항 및 이용방법</h1>
        <div class="right">
            <a (click)="onCloseClick()" class="icon sm common-close">닫기</a>
        </div>
    </div>
    <!-- modal contents -->
    <div class="modal-contents">
        <div class="page-contents-type2">
            <!-- 현재 전체 항목 미정 -->
            <div class="select-box line mb20">
                <select [(ngModel)]="vm.selectObj.selectVal">
                    <option *ngFor="let optItem of vm.selectObj.optList" [value]="optItem.val">{{optItem.name}}</option>
                </select>
            </div>
            <!--
              - 위에서 선택한 옵션 값에 따라 해당 .select-view를 보여준다.
              - 선택한 항목이 아닌 .select-view 에는 .hide를 추가해 가려준다.
             -->
            <div [ngClass]="{'hide': isHtmlHide(vm.selectObj.optList[0].val)}" class="select-view">
                <ul class="text-list spacing">
                    <li>차량을 예약하는 데는 신용카드나 체크카드만 있으면 됩니다.<br>하지만 현지에서 차량을 인수할 때는 다음 목록을 모두 지참하셔야 합니다.</li>
                    <li>바우처 혹은 전자바우처 – 해당 차량에 대한 결제가 이루어졌다는 것을 증명하는 서류입니다.<br>주운전자 명의의 신용카드 혹은 체크카드 – 차량을 인수할 때 현지
                        공급업체에서 청구하는 보증금만큼 한도가 있는 카드가 있어야 합니다.</li>
                    <li>각 운전자의 결격사유가 없고, 발급받은지 12개월 (업체에 따라 24개월) 이상이거나, 갱신한 경우 픽업 날짜로 부터 1년 혹은 2년 이전에 한 운전 면허증.</li>
                    <li>신분증 – 주운전자의 여권 혹은 이에 준하는 신분증이 필요합니다.</li>
                    <li>공급업체마다 약관이 상이하므로 예약시 해당 업체의 약관을 반드시 확인해 주시기 바랍니다.</li>
                </ul>
            </div>
            <div [ngClass]="{'hide': isHtmlHide(vm.selectObj.optList[1].val)}" class="select-view">
                <dl class="text-list2">
                    <dt class="mb5">미국 렌터카 픽업 시 준비물과 구비 서류</dt>
                    <dd>예약 확정서, 국내면허증, 국제면허증, 여권, 운전자의 여권명과 동일 명의 해외승인 가능한 신용카드</dd>
                </dl>
                <dl class="text-list2">
                    <dt class="mb5">미국 유료 도로 정보</dt>
                    <dd>미국 렌터카 여행을 시작하기에 앞서 실제로 이용할 루트에 맞춰 이용 예정인 도로가 유료도로인지를 확인하시기 바랍니다. ( http://www.htallc.com 등)
                    </dd>
                    <dd>다만, 미국 내 모든 유료 도로가 Htallc 사이트에 확인되지는 않으며, 주마다 도로를 관리하는 기관이 상이하므로 여행 전 고객님의 확인이 필요합니다. 또한, 단말기
                        장착으로만 toll 비용을 지불해야 하는 곳도 있으므로 유의해 주시기 바랍니다.</dd>
                </dl>
                <dl class="text-list2">
                    <dt class="mb5">미국 영-드라이버 참고 사항</dt>
                    <dd class="none-pd"><strong>* 괌/사이판</strong></dd>
                    <dd class="none">괌에서의 렌터카 예약에 필요한 최소 연령은 만 21세이며, 만 25세 미만의 영드라이버에 대한 추가 요금은 발생하지 않습니다. 사이판도 동일하나,
                        영드라이버의 렌트 차량 등급에 제한이 있습니다.</dd>
                    <dd class="none">* 추가운전자도 동일하게 적용됩니다.</dd>
                    <dd class="none-pd mt10"><strong>* 뉴욕/미시간주</strong></dd>
                    <dd class="none">뉴욕, 미시간주의 최소 연령은 만 18세이며, 만 18세~24세의 경우 추가 요금을 지불하시면 이용 가능합니다. 렌트 차량 등급에 제한이 있습니다.
                    </dd>
                    <dd class="none">* 만 25세 미만의 경우 특정 Specialty 차량 및 대형 이상의 차는 대여가 불가능 할 수 있습니다.</dd>
                    <dd class="none">* 위에 제시된 금액은 지역 및 공급업체마다 상이할 수 있으며, 사전 공지 없이 변경될 수 있습니다.</dd>
                </dl>
                <dl class="text-list2">
                    <dt class="mb5">주유하기</dt>
                    <dd>미국의 대부분 주유소에서는 직접 주유하는 셀프 서비스 방식입니다.</dd>
                    <dd>차량 주유구에 노즐을 꽂은 후 주유기의 노즐이 위치했던 받침을 올려 주유 펌프의 그립을 당기면 주유가 시작됩니다.</dd>
                    <dd class="none">
                        <ul class="text-list dash color-sub6">
                            <li>주유소 카운터에서 금액 지불하는 방법</li>
                            <li class="none">주유기 앞에 차를 주차한 후 주유기 번호와 주유 등급 확인합니다. 차량 안에 일행이 없다면 차량 문은 반드시 잠가 주시기 바랍니다.
                                카운터에서 채울 만큼의 연료 금액을 지불 합니다. 결제 완료 후 주유기로 돌아가 연료를 주입 합니다. 지불한 금액만큼 주유하면 자동으로 주유 펌프에서 '탁'
                                하는 소리가 나면서 더 이상 들어가지 않습니다. 주유 펌프를 원 위치에 놓고 자동차 주유구 마개를 막은 후 뚜껑을 닫습니다.</li>
                            <li>신용카드로 지불하는 방법</li>
                            <li class="none">
                                주유기 에서 직접 결제하는 경우 주유기에 설치되어 있는 카드 리더기에 신용카드를 넣은 후, Zip code 를 눌러야 합니다. 유종을 선택하고 원하는 양만큼
                                주유를 시작하시면 됩니다.</li>
                            <li class="none">* 디젤 펌프는 주유 기계가 따로 마련되어 있거나 파이프 크기가 달라 잘못 주유할 일이 거의 없으나 혼유에 주의하시기 바랍니다.
                            </li>
                        </ul>
                    </dd>
                </dl>
                <dl class="text-list2">
                    <dt class="mb5">TIPS OF RENTCAR IN U.S.A.</dt>
                    <dd class="none-pd">
                        <ol class="text-list decimal color-sub6">
                            <li>미국 내에서 편도 렌탈 추가비용이 면제되는 곳은 아래와 같습니다.
                                <ul class="text-list dash color-sub6">
                                    <li>캘리포니아 주 내의 지점간</li>
                                    <li>캘리포니아 주 - 네바다 주 지점간</li>
                                    <li>플로리다 주 내의 지점간</li>
                                    <li class="none-pd">단, 성수기 기간 동안 특정 구간에서 편도 비용이 발생할 수도 있습니다.</li>
                                    <li class="none-pd">* 일부지역에 한하여 미국-캐나다 간 편도 렌탈이 가능하며, 이용을 원하시는 픽업 및 반납 지점으로 조회하였을 때
                                        차량이 조회된다면 이용이 가능합니다.</li>
                                    <li class="none-pd">* 캐나다 시민권자의 경우 미국 지역에서 렌트하여 캐나다 국경을 넘어갈 수 없습니다.</li>
                                    <li class="none-pd">* 이용기간에 따라 지점내 차량 수급의 문제로 편도 렌탈에 제한될 수 있습니다. 이 경우 예약 진행 시 차량 조회가
                                        되지 않습니다. 성수기 기간 동안 특정 구간에서 편도 비용이 발생할 수 있습니다.</li>
                                </ul>
                            </li>
                            <li>미국의 주유소는 대부분 무인 주유소로 운영됩니다. 주유기 에서 신용카드로 결제하거나 사무실의 직원에게 주유기 번호를 말하고 지불할 수 있습니다. 혼유 시 에는
                                보험처리가 되지 않으니 주유 전 연료타입을 반드시 확인해주시고, 영수증은 보관하여 주시기 바랍니다.</li>
                            <li>신호등이 없는 교차로의 STOP 표지판에서는 “일단정지”해야 합니다. 우회전, 좌회전, 직진 여부에 관계 없이 무조건 “3초간 완전 정지” 후 다시 출발해야
                                합니다. 위반 시 고액의 벌금이 청구됩니다.</li>
                            <li>스쿨버스의 STOP 사인이 펼쳐지면 동일 방향 차선과 반대편 차선 차량까지도 정지해야 하며 STOP 사인이 사라진 후 다시 움직일 수 있습니다. 위반 시에는
                                고액의 벌금이 청구 됩니다.</li>
                            <li>원형교차로 (Roundabout)에서는 교차로에 진입하여 돌고 있는 차량에게 우선권이 있습니다. 새로 진입 하는 차량은 차가 오지 않을 때까지 기다려야
                                합니다. 꼬리물기는 금지이며 교차로를 빠져 나오기 전에는 방향지시등을 켜시기 바랍니다.</li>
                            <li>미국에서 경찰차가 사이렌을 번쩍이며 뒤를 따라온다면 단속된 것입니다. 속도를 늦추고 차를 세운 뒤 경찰이 다가올 때까지 차에서 내리지 말고 기다립니다. 잘못이
                                없더라도 오해를 사지 않으려면 두 손을 머리위로 드는 것이 안전합니다.</li>
                            <li>유로도로 이용
                                <ul class="text-list none color-sub6">
                                    <li>미국은 고속도로가 대부분 무료이지만, 유료도로도 있습니다. 캘리포니아, 워싱턴, 알라바마, 콜로라도, 플로리다, 텍사스, 유타, 버지니아 주
                                        등은 유료도로가 있으며, 애리조나, 하와이, 아이다호, 아이오와, 미시간, 미시시피, 미주리, 네브래스카, 네바다, 뉴멕시코, 테네시, 버몬트,
                                        위스콘신, 와이오밍 주 등은 유료도로가 없습니다.</li>
                                    <li>(*세부 유료도로 현황과 세부사항은 List of toll roads in the United States 웹 문서에서 확인이 가능.) 렌터카
                                        주요 공급업체 에서 자동으로 유료 도로의 사용 기록을 수집하는 톨패스 프로그램(Toll pass program), 유료도로 자동지불 시스템을
                                        제공하기도 합니다. 이 프로그램을 추가 서비스로 요청할 경우, 통행료를 현금으로 지불하기 위해 긴 줄을 설 필요가 없으며, 자동으로 통행료를
                                        지불하는 “FAST” 라인을 통과할 수 있습니다. 이용기간 동안 유료 도로를 지나게 되면 톨 패스 단자 비용(이용금액 약 $4~6/Day)과 실
                                        이용한 톨 비용이 고객님의 디파짓 신용카드로 후 청구 됩니다. 이용 가능 지역 및 이용 방법이 상이하므로 아래 내용을 참고해 주시기 바랍니다.
                                    </li>
                                    <li>1) Northern CA, CO, FL, GA, NC, TX, WA</li>
                                    <li>해당 지역 렌터카에는 톨 패스 단자가 차량 안에 장착되어 있습니다. 차량 계약서 작성시 직원분과 톨 패스 이용에 관해 재 확인해 주시면 됩니다.
                                        톨 패스 단자 비용은 1일 톨 로드 이용 횟수와 상관 없이 유료 도로를 사용한 날 마다 발생되는 금액 입니다.</li>
                                    <li>2) Northeast United States (including regions in the Midwest) 온라인 예약 진행 시 톨 패스
                                        단자(Toll transponder)를 신청하시거나 현지 지점에서 계약서 작성 전 신청하실 수 있습니다.</li>
                                </ul>
                            </li>
                        </ol>
                    </dd>
                </dl>
                <dl class="text-list2">
                    <dt class="mb5">TIPS OF RENTCAR IN Hawaii.</dt>
                    <dd class="none-pd"><strong>* 하와이 주요 지역 편도 렌탈비</strong></dd>
                    <dd class="none">하와이 주요 지점간 편도 렌탈 비용입니다.
                        <ul class="text-list dash color-sub6">
                            <li>호놀룰루 공항 - 와이키키 비치 센트럴 : $50+ 별도tax</li>
                            <li>호놀룰루 공항 - 와이키키 비치 웨스트 : $25+ 별도tax</li>
                            <li>와이키키 비치 센트럴 - 와이키키 비치 웨스트 : $50+ 별도tax</li>
                            <li>힐튼 와이콜로아 - 코나공항: $65+ 별도tax</li>
                            <li>코나공항 - 힐로 공항: $45+ 별도tax</li>
                        </ul>
                    </dd>
                    <dd class="none">카우아이, 오아후, 몰로카이, 마우이, 빅아일래드 섬 간의 편도 렌탈은 불가능하기 때문에, 각각의 예약으로 따로 진행해주셔야 합니다.</dd>
                    <dd class="none-pd mt10"><strong>* 오하우섬 와이키키해변 지역 호텔 주차비</strong></dd>
                    <dd class="none">호텔 별로 주차비가 상이하기 때문에 이용하는 호텔의 규정을 확인해주셔야 합니다.</dd>
                    <dd class="none">아래 내용은 대략적인 내용이오니 참고용으로만 봐주시기 바랍니다.
                        <ul class="text-list dash color-sub6">
                            <li>1급호텔 - 약 $20~30 + tax / 1일</li>
                            <li>준특급호텔이상 - 약 $25~35 +tax / 1일</li>
                            <li>발렛 주차 이용 시 비용은 약 $5 정도 추가됩니다.</li>
                            <li>각 호텔 별 셀프 파킹, 발렛 파킹 가능 여부가 다를 수 있습니다.</li>
                        </ul>
                    </dd>
                </dl>
                <ul class="text-list none color-sub6 mt20">
                    <li><strong>* 공급업체 무료 픽업서비스</strong>
                    <li>
                    <li>각 렌터카 업체 별로 고객님들께 시내 픽업 서비스를 제공하는 경우가 있습니다. 예약 시 개별 확인해주시기 바랍니다.</li>
                </ul>
            </div>
            <div [ngClass]="{'hide': isHtmlHide(vm.selectObj.optList[2].val)}" class="select-view">
                <dl class="text-list2">
                    <dt class="mb5">캐나다 렌터카 픽업 시 준비물과 구비서류</dt>
                    <dd>예약 확정서, 국내면허증, 국제면허증, 여권, 운전자의 여권명과 동일 명의의 해외승인 가능한 신용카드</dd>
                </dl>
                <dl class="text-list2">
                    <dt class="mb5">캐나다 유료 도로 정보</dt>
                    <dd>407 ETR 도로나 Golden Ears Bridge를 통과하면 유료도로 사용료와 CAD14의 수수료가 임차 종료 약 한 달 정도 후 청구 됩니다. 407 ETR도로에
                        대한 자세한 내용은 www.407etr.com 에서 확인할 수 있습니다.</dd>
                </dl>
                <dl class="text-list2">
                    <dt class="mb5">주유하기</dt>
                    <dd>캐나다 대부분의 주유소에서는 직접 주유하는 셀프 서비스 방식입니다.</dd>
                    <dd>차량 주유구에 노즐을 꽂은 후 주유기의 노즐이 위치했던 받침을 올려 주유 펌프의 그립을 당기면 주유가 시작됩니다.</dd>
                    <dd class="none">
                        <ul class="text-list dash color-sub6">
                            <li>주유소 카운터에서 금액 지불하는 방법</li>
                            <li class="none">주유기 앞에 차를 주차한 후 주유기 번호와 주유 등급 확인합니다. 차량 안에 일행이 없다면 차량 문은 반드시 잠가 주시기 바랍니다.
                                카운터에서 채울 만큼의 연료 금액을 지불 합니다. 결제 완료 후 주유기로 돌아가 연료를 주입 합니다. 지불한 금액만큼 주유하면 자동으로 주유 펌프에서 '탁'
                                하는 소리가 나면서 더 이상 들어가지 않습니다. 주유 펌프를 원 위치에 놓고 자동차 주유구 마개를 막은 후 뚜껑을 닫습니다.</li>
                            <li>신용카드로 지불하는 방법</li>
                            <li class="none">
                                주유기 에서 직접 결제하는 경우 주유기에 설치되어 있는 카드 리더기에 신용카드를 넣은 후, Zip code 를 눌러야 합니다. 유종을 선택하고 원하는 양만큼
                                주유를 시작하시면 됩니다.</li>
                        </ul>
                    </dd>
                </dl>
                <dl class="text-list2">
                    <dt class="mb5">TIPS OF RENTCAR IN CANADA</dt>
                    <dd class="none-pd">
                        <ol class="text-list decimal color-sub6">
                            <li>캐나다는 무인 주유소가 많습니다. 주유기에서 신용카드로 결제하거나 사무실의 직원에게 주유기 번호를 말하고 지불할 수 있습니다. 혼유시 에는 보험처리가 되지
                                않으니 주유 전 연료 타입을 반드시 확인해주시고, 영수증은 보관하여 주시기 바랍니다.</li>
                            <li>신호등이 없는 교차로의 STOP 표지판에서는 “일단정지”해야 합니다. 우회전, 좌회전, 직진 여부에 관계없이 무조건 “3초간 완전정지” 후 다시 출발해야
                                합니다. 위반 시 고액의 벌금이 청구됩니다.</li>
                            <li>스쿨버스의 STOP 사인이 펼쳐지면 동일 방향 차선과 반대편 차선 차량까지도 정지해야 하며 STOP 사인이 사라진 후 다시 움직일 수 있습니다. 위반시에는
                                고액의 벌금이 청구 됩니다.</li>
                            <li>원형교차로 (Roundabout)에서는 교차로에 진입하여 돌고 있는 차량에게 우선권이 있습니다. 새로 진입하는 차량은 차가 오지 않을 때까지 기다려야 합니다.
                                꼬리물기는 금지이며 교차로를 빠져 나오기 전에는 방향지시등을 켜시기 바랍니다.</li>
                        </ol>
                    </dd>
                </dl>
            </div>
            <div [ngClass]="{'hide': isHtmlHide(vm.selectObj.optList[3].val)}" class="select-view">
                <dl class="text-list2">
                    <dt class="mb5">유럽 주요 국가 렌터카 픽업 시 준비물과 구비 서류</dt>
                    <dd>예약 확정서, 국내면허증, 국제면허증, 여권, 운전자의 여권명과 동일 명의 해외승인 가능한 신용카드</dd>
                    <dd class="none mt10"><strong>* 영국</strong></dd>
                    <dd class="none">예약 확정서, 국내면허증, 국제면허증, 여권, 운전자의 여권과 동일 명의 해외승인 가능한 신용카드, 여행 시 호텔 및 거소를 증명할 수 있는 서류,
                        비행기 리턴 티켓 사본</dd>
                    <dd class="none mt10"><strong>* 독일</strong></dd>
                    <dd>예약 확정서, 국내면허증, 국제면허증, 여권, 운전자의 여권과 동일 명의 해외승인 가능한 신용카드, 여행 시 호텔 및 거소를 증명할 수 있는 서류</dd>
                    <dd class="none mt10"><strong>* 스페인</strong></dd>
                    <dd class="none">예약 확정서, 국내에서 발급한 취득일이 1년 이상 경과된 국내면허증(단, The Canary Islands;카나리아 제도의 경우, 운전 면허증
                        취득일이 2년을 경과해야 함), 국내에서 발급한 국제면허증, 여권, 운전자의 여권과 동일 명의 해외승인 가능한 신용카드</dd>
                    <dd class="none mt10"><strong>* 아일랜드/오스트리아</strong></dd>
                    <dd class="none">예약 확정서, 취득일이 1년 이상 경과된 국내면허증, 국제면허증, 여권, 운전자의 여권과 동일 명의 해외승인 가능한 신용카드, 여행 시 호텔 및
                        거소를 증명할 수 있는 서류, 비행기 리턴 티켓</dd>
                    <dd class="none mt10"><strong>* 스위스</strong></dd>
                    <dd class="none">예약 확정서, 국내면허증, 국제면허증, 여권, 운전자의 여권명과 동일 명의 해외승인 가능한 신용카드</dd>
                </dl>
                <dl class="text-list2">
                    <dt class="mb5">유럽 주요 국가 유료 도로 정보</dt>
                    <dd class="none-pd"><strong>* 영국</strong></dd>
                    <dd class="none">런던 도심은 Congestion Charge(혼잡통행료)가 발생하는 구역이 있습니다. 주중 07:00-18:00 사이에 해당 구역을 진입하면 하루 당
                        GBP 11.50을 지불해야 합니다. 운행당일 밤12시 이전까지 납부하지 않으면 위반으로 인한 범칙금이 청구됩니다. 지불은 전적으로 임차인의 책임입니다. 자세한 내용은
                        www.cclondon.com을 확인하여 주시기 바랍니다.</dd>
                    <dd class="none-pd mt10"><strong>* 이탈리아</strong></dd>
                    <dd class="none">Restricted Traffic Zone(ZTL)이 있으니 통행에 유의하시기 바랍니다. 해당 구역은 등록된 거주자 차량만 진입이 가능하며, 위반
                        시에는 범칙금이 청구됩니다. 숙박시설이 해당 구역 내에 있는 경우에는 숙박업체에 사전 연락하여 임시 차량등록을 해야 합니다.</dd>
                    <dd class="none-pd mt10"><strong>* 아일랜드</strong></dd>
                    <dd class="none">더블린 M50 Motorway (Junction 6 N3 Blanchardstown –Junction 7 N4 Lucan 구간)를 통과하면 유료도로
                        사용료(회당 EUR 3.10)가 청구됩니다. 이 도로는 무인시스템으로 운영됩니다.</dd>
                    <dd class="none-pd mt10"><strong>* 노르웨이</strong></dd>
                    <dd class="none">대부분의 도로는 AUTO PASS라는 무인 시스템으로 운영되며, 해당 도로를 이용 시 유료도로 사용료와 NOK 300의 수수료가 차후 청구됩니다.
                        자세한 내용은 www.autopass.no/visitors 를 참고하시기 바랍니다.</dd>
                    <dd class="none-pd mt10">※ 고속도로 통행에 대해 Highway Sticker / Emission Sticker를 사전 부착하도록 규정된 국가(예: 오스트리아,
                        스위스, 독일, 체코 등)에 진입할 때에는 주유소 등에서 스티커 (Vignette) 를 개별 구매, 부착 후 통행해야 합니다. 미 부착 시에는 과태료가 부과될 수 있습니다.
                    </dd>
                </dl>
                <dl class="text-list2">
                    <dt class="mb5">주유하기</dt>
                    <dd>유럽은 대부분 셀프 주유 방식을 이용합니다. 렌터카의 유종을 인수 시 반드시 확인해 주시기 바라며, 유종이 정확하지 않을 경우 영업소 직원에게 재 확인 해주시기 바랍니다.
                    </dd>
                    <dd class="none">
                        <ol class="text-list decimal color-sub6">
                            <li>주유기를 차량의 주유구에 넣고 방아쇠를 당깁니다.</li>
                            <li>주유기를 원위치 한 후, 주유기 번호를 확인합니다.</li>
                            <li>주유소의 카운터로 들어가 주유기 번호를 알려주고 계산합니다.</li>
                        </ol>
                    </dd>
                    <dd class="none">* 무인 주유소의 경우, 해외 승인 신용카드로만 결제가 가능하며, 국내에서 발급받으신 해외 승인 가능한 일부 카드는 결제가 불가할 수 있으니 적당량의
                        현금을 준비하시기 바랍니다.</dd>
                </dl>
                <dl class="text-list2">
                    <dt class="mb5">TIPS OF RENTCAR IN EUROPE</dt>
                    <dd class="none-pd">
                        <ol class="text-list decimal color-sub6">
                            <li>유럽은 픽업 시 Vehicle Pre-inspection Report 라는 차량 점검문서가 제공됩니다. 해당 문서에 표시되지 않은 흠집이나 파손이 차량 반납
                                후 발견되는 경우 고객책임액 (Non-waivable Excess)이 청구되므로 차량 픽업 시 꼼꼼히 확인하여 주십시오.</li>
                            <li>프랑스에서는 디젤은 Gazole이라고 부르므로 영어의 Gasoline과 혼동할 수 있으니 유의해주시기 바랍니다.</li>
                            <li>외국은 무인 주유소가 많습니다. 주유기에서 신용카드로 결제하거나 사무실의 직원에게 주유기 번호를 말하고 지불할 수 있습니다. 혼유 시에는 렌터카 보험처리가
                                되지 않으니 주유 전 연료 타입을 반드시 확인해주시고, 영수증은 보관하여 주시기 바랍니다.</li>
                            <li>신호등이 없는 교차로의 STOP 표지판에서는 “일단 정지” 해야 합니다. 우회전, 좌회전, 직진 여부에 관계 없이 무조건 “3초간 완전정지” 후 다시 출발해야
                                합니다. 위반 시 고액의 벌금이 청구됩니다.</li>
                            <li>원형교차로 (Roundabout)에서는 교차로에 진입하여 돌고 있는 차량에게 우선권이 있습니다. 새로 진입하는 차량은 차가 오지 않을 때까지 기다려야 합니다.
                                꼬리물기는 금지이며 교차로를 빠져 나오기 전에는 방향지시등을 켜시기 바랍니다.</li>
                        </ol>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>