<app-common-modal-loading *ngIf="bookingLoading"></app-common-modal-loading>

<div id="wrap" class="p-rent-booking-information">

    <!-- header -->
    <app-rent-header [headerType]="headerType" [headerConfig]="headerConfig"></app-rent-header>

    <!-- contents -->
    <div *ngIf="loadingBool" id="contents">
        <div class="page-contents-type2">

            <form [formGroup]="mainForm" (ngSubmit)="onSubmit(mainForm)" novalidate #f="ngForm">

                <!-- 예약자 정보확인 -->
                <div class="contents-item">
                    <h2 class="contents-title">예약 정보 확인</h2>

                    <div class="round-box rentalcar-reserved-contents">
                        <div class="rentalcar-image">
                            <img [src]="listFilterRs.vehicles[0].photoUrls[0]" alt="">
                        </div>
                        <div class="rentalcar-reserved-item-information">
                            <dl>
                                <dt><img [src]="'/assets/images/car/' + listFilterRs.vehicles[0].vehicleVendorCode + '.png'" alt="" class="rentalcar-logo"></dt>
                                <dd>{{listFilterRs.vehicles[0].vehicleName}}</dd>
                            </dl>
                            <div class="option">
                                <span class="person">{{listFilterRs.vehicles[0].option.passengerCount}} 인승</span>
                                <span class="door">{{listFilterRs.vehicles[0].option.doorCount}} 도어</span>
                                <span *ngIf="listFilterRs.vehicles[0].option.airConditionYn" class="air">에어컨</span>
                                <span *ngIf="listFilterRs.vehicles[0].option.transmissionType === 'Automatic'" class="gear">자동 변속</span>
                            </div>
                            <div class="summary mt10 pt20 border-solid-top grey">
                                <dl>
                                    <dt class="days">이용일</dt>
                                    <dd>{{listFilterRs.vehicles[0].pickup.datetime | amDateFormat: 'YYYY-MM-DD (ddd) HH:mm'}}
                                        -
                                        {{listFilterRs.vehicles[0].return.datetime | amDateFormat: 'YYYY-MM-DD (ddd) HH:mm'}}
                                    </dd>
                                </dl>
                                <dl>
                                    <dt class="time">이용시간</dt>
                                    <dd>총 {{listFilterRs.vehicles[0].hoursOfUse}}시간</dd>
                                </dl>
                                <dl>
                                    <dt class="age">연령</dt>
                                    <dd>{{resolveData.listFilterRq.condition.driverBirthday}} (만{{listFilterRs.driver.age}}세)</dd>
                                </dl>
                                <dl (click)="onLocationClick($event, 0)">
                                    <dt class="location">인수 장소</dt>
                                    <dd>{{listFilterRs.locations[0].address}}</dd>
                                    <dd class="color-sub3 font-xs">
                                        <span class="icon xs attention mr5"></span>공항 셔틀로 이동하여 접수 및 차량 픽업
                                    </dd>
                                </dl>
                                <dl (click)="onLocationClick($event, 1)">
                                    <dt class="location">반납 장소</dt>
                                    <ng-template [ngIf]="listFilterRs.locations[1]" [ngIfElse]="returnLocation">
                                        <span>{{listFilterRs.locations[1].address}}</span>
                                    </ng-template>

                                    <ng-template #returnLocation>
                                        <span>{{listFilterRs.locations[0].address}}</span>
                                    </ng-template>
                                </dl>
                            </div>
                            <div class="price">
                                <dl>
                                    <dt>
                                        <span>포함사항</span>
                                    </dt>
                                    <!--                                <dd>차량대여료</dd>-->
                                    <!--                                <dd><a href="#" class="text-link"><span class="text color-sub5">LDW - LOSS DAMAGE WAIVER</span><span class="icon xs information">정보</span></a></dd>-->
                                    <!--                                <dd>TAX & SURCHARGE</dd>-->
                                    <dd *ngFor="let rateDetailItem of rentRuleRs.rateDetails">
                                        {{rateDetailItem.chargeTypeDescription}}
                                    </dd>
                                </dl>
                            </div>
                            <div class="total">
                                <span>총 비용</span>
                                <strong class="ml-auto">
                                    <span class="font-md color-sub5 mr5">(약 {{listFilterRs.vehicles[0].vendorAmountSumKrw | number}}원)</span>
                                    {{listFilterRs.vehicles[0].vendorCurrencyCode}} {{listFilterRs.vehicles[0].vendorAmountSum | number}}
                                </strong>
                            </div>
                        </div>
                    </div>

                    <div class="round-box">
                        <div class="check-time auto">
                            <span class="cal">취소마감일 : {{rentRuleRs.vendorCancelDeadline | amDateFormat: 'MM.DD(ddd)'}}</span>
                            <span class="ml-auto">{{rentRuleRs.vendorCancelDeadline | amDateFormat: 'HH:mm'}}까지</span>
                        </div>
                        <ul class="text-list dash spacing color-sub6">
                            <li class="none-pd color-sub3">
                                <p>※ 무료 취소 가능 기간 이후 취소 시, 수수료가 발생합니다.</p>
                            </li>
                        </ul>
                    </div>

                </div>

                <!-- 연락처 정보를 입력해 주세요 -->
                <div class="contents-item">
                    <h2 class="contents-title line">연락처 정보를 입력해 주세요.</h2>
                    <h3 class="contents-sub-text">예약과 관련된 중요사항을 연락처로 발송해드립니다.</h3>
                    <div class="round-box">
                        <div class="row-group">
                            <div class="row mt0">
                                <h5 class="row-title">회원 이름</h5>
                                <div class="input line">
                                    <input #nameInput id="userName" [formControlName]="'userName'" [class.valid-error]="isValidError('userName', f.submitted)" type="text" placeholder="이름 입력" readonly>
                                    <ng-container *ngIf="mainForm.controls.userName.errors">
                                        <span *ngIf="mainForm.controls.userName.errors.required" class="valid-msg">예약자 명은 필수값입니다.</span>
                                        <span *ngIf="mainForm.controls.userName.errors.invalidMsg" class="valid-msg">{{mainForm.controls.userName.errors.invalidMsg}}</span>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="row">
                                <h5 class="row-title">휴대폰 번호</h5>
                                <div class="input line">
                                    <input #phoneInput id="userPhone" maxlength="11" [formControlName]="'userPhone'" [class.valid-error]="isValidError('userPhone', f.submitted)" [numOnly]="mainForm.controls.userPhone" type="tel" placeholder="'-' 제외하고 입력">
                                    <a (click)="userInfoReset($event, 2)" class="icon sm input-delete2">삭제</a>
                                    <ng-container *ngIf="mainForm.controls.userPhone.errors">
                                        <span *ngIf="mainForm.controls.userPhone.errors.required" class="valid-msg">휴대폰 번호는 10자리 이상으로 입력해야 합니다.</span>
                                        <span *ngIf="mainForm.controls.userPhone.errors.invalidMsg" class="valid-msg">{{mainForm.controls.userPhone.errors.invalidMsg}}</span>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="row">
                                <h5 class="row-title">이메일 주소</h5>
                                <div class="input line">
                                    <input #emailInput id="userEmail" [formControlName]="'userEmail'" [class.valid-error]="isValidError('userEmail', f.submitted)" type="email" placeholder="example@mail.com">
                                    <a (click)="userInfoReset($event, 3)" class="icon sm input-delete2">삭제</a>
                                    <ng-container *ngIf="mainForm.controls.userEmail.errors">
                                        <span *ngIf="mainForm.controls.userEmail.errors.required" class="valid-msg">이메일주소는 필수값입니다.</span>
                                        <span *ngIf="mainForm.controls.userEmail.errors.email" class="valid-msg">이메일 정보를 정확히 확인해주세요.</span>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 운전자 정보를 입력해 주세요. -->
                <div id="driverInfo" class="contents-item">
                    <h2 class="contents-title line">운전자 정보를 입력해 주세요.</h2>
                    <h3 class="contents-sub-text">국제운전면허증 또는 여권상의 영문성, 영문이름과 같지 않으면 일부 서비스 이용에 제약을 받을 수 있습니다.</h3>
                    <div class="round-box">
                        <div class="traveler-item">
                            <h4 class="contents-title2 line2">운전자 정보</h4>
                            <div class="row-group">

                                <div class="row">
                                    <h5 class="row-title">운전자</h5>
                                    <div class="select-box line">
                                        <select [formControlName]="'selectTraveler'" (change)="onTravelerChange($event)">
                                            <option value="NOTHING">신규 운전자를 추가합니다.</option>
                                            <option *ngFor="let travelerItem of this.traveler;" [ngValue]="travelerItem">
                                                {{travelerItem['name']}} : {{travelerItem['lastName']}} / {{travelerItem['firstName']}}
                                            </option>
                                        </select>
                                    </div>
                                </div>


                                <div class="row">
                                    <h5 class="row-title">한글 이름</h5>
                                    <div class="input line">
                                        <input id="driverNameKr" [formControlName]="'driverNameKr'" [class.valid-error]="isValidError('driverNameKr', f.submitted)" [koOnly]="mainForm.controls.driverNameKr" type="text" placeholder="이름 입력">

                                        <ng-container *ngIf="mainForm.controls.driverNameKr.errors">
                                            <span *ngIf="mainForm.controls.driverNameKr.errors.required" class="valid-msg">한글 이름은 필수값입니다.</span>
                                            <span *ngIf="mainForm.controls.driverNameKr.errors.maxlength" class="valid-msg">한글 이름의 글자수는 33자 까지 입력 가능합니다.</span>
                                            <span *ngIf="mainForm.controls.driverNameKr.errors.invalidMsg" class="valid-msg">{{mainForm.controls.driverNameKr.errors.invalidMsg}}</span>
                                        </ng-container>
                                    </div>
                                </div>

                                <div class="row">
                                    <h5 class="row-title">영문 성/이름</h5>
                                    <div class="row col2">
                                        <div class="input line">
                                            <input data-target="input-driver-last-name" id="driverLastName" [formControlName]="'driverLastName'" [class.valid-error]="isValidError('driverLastName', f.submitted)" [enOnly]="mainForm.controls.driverLastName" type="text" placeholder="영문 성" style="text-transform:uppercase">
                                            <ng-container *ngIf="mainForm.controls.driverLastName.errors">
                                                <span *ngIf="mainForm.controls.driverLastName.errors.required" class="valid-msg">영문 성(은) 필수값입니다.</span>
                                                <span *ngIf="mainForm.controls.driverLastName.errors.maxlength" class="valid-msg">영문 성의 글자수는 50자 까지 입력 가능합니다.</span>
                                                <span *ngIf="mainForm.controls.driverLastName.errors.invalidMsg" class="valid-msg">{{mainForm.controls.driverLastName.errors.invalidMsg}}</span>
                                            </ng-container>
                                        </div>
                                        <div class="input line">
                                            <input data-target="input-driver-first-name" id="driverFirstName" [formControlName]="'driverFirstName'" [class.valid-error]="isValidError('driverFirstName', f.submitted)" [enOnly]="mainForm.controls.driverFirstName" type="text" placeholder="영문 이름" style="text-transform:uppercase">
                                            <ng-container *ngIf="mainForm.controls.driverFirstName.errors">
                                                <span *ngIf="mainForm.controls.driverFirstName.errors.required" class="valid-msg">영문 이름은 필수값입니다.</span>
                                                <span *ngIf="mainForm.controls.driverFirstName.errors.maxlength" class="valid-msg">영문 이름의 글자수는 50자 까지 입력 가능합니다.</span>
                                                <span *ngIf="mainForm.controls.driverFirstName.errors.invalidMsg" class="valid-msg">{{mainForm.controls.driverFirstName.errors.invalidMsg}}</span>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>

                                <div class="row auto">
                                    <div class="row-title">성별선택</div>
                                    <div>

                                        <label class="radio">
                                            <input [formControlName]="'driverGender'" value="M" name="driverGender" type="radio" class="radio-control-input">
                                            <span class="radio-control-text">남성</span>
                                        </label>

                                        <label class="radio">
                                            <input [formControlName]="'driverGender'" value="F" name="driverGender" type="radio" class="radio-control-input">
                                            <span class="radio-control-text">여성</span>
                                        </label>

                                    </div>
                                </div>
                                <div class="row" *ngIf="this.locationType===true">
                                    <div class="row-title">면허종별</div>
                                    <div class="select-box line">
                                        <select name="" id="" required>
                                            <option value="" disabled selected>면허증을 선택해 주세요.</option>
                                            <option value="">1종 보통</option>
                                            <option value="">2종 보통</option>
                                        </select>
                                    </div>
                                    <p class="text-link mt10">
                                        <span class="icon sm information3"></span>
                                        <span class="text">15인 이상 차량은 1종 대형, 10인 이상 차량은 1종 보통 이상 면허소지자만 운전가능</span>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- 도착 항공편 정보 -->
                <div *ngIf="!isKo" class="contents-item">
                    <h2 class="contents-title line">도착 항공편 정보</h2>
                    <h3 class="contents-sub-text">차량 픽업은 예약된 시간으로부터 최대 1시간까지 유효하나, 도착 항공기 편명 입력 시 항공편 지연시간까지 픽업 시간이 연장됩니다.</h3>
                    <div class="round-box">
                        <div class="row-group">
                            <div class="row mt0">
                                <h5 class="row-title">도착편명</h5>
                                <div class="input line">
                                    <input id="arrivalFlightNumber" [formControlName]="'arrivalFlightNumber'" [class.valid-error]="isValidError('arrivalFlightNumber', f.submitted)" type="text" placeholder="예) KE668">
                                    <ng-container *ngIf="mainForm.controls.arrivalFlightNumber.errors">
                                        <span *ngIf="mainForm.controls.arrivalFlightNumber.errors.invalidMsg" class="valid-msg">{{mainForm.controls.arrivalFlightNumber.errors.invalidMsg}}</span>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="row">
                                <h5 class="row-title">도착시간</h5>
                                <div class="input line">
                                    <input id="arrivalTime" [formControlName]="'arrivalTime'" [class.valid-error]="isValidError('arrivalTime', f.submitted)" type="text" placeholder="예) 23:00">
                                    <ng-container *ngIf="mainForm.controls.arrivalTime.errors">
                                        <span *ngIf="mainForm.controls.arrivalTime.errors.invalidMsg" class="valid-msg">{{mainForm.controls.arrivalTime.errors.invalidMsg}}</span>
                                    </ng-container>
                                </div>
                            </div>
                            <div *ngIf="false" class="row mt10">
                                <a (click)="onFlightInfoClick()" class="btn lg grey">예약 정보 불러오기</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 요금, 취소수수료 규정을 확인하세요 -->
                <div class="contents-item">
                    <h2 class="contents-title line">요금, 취소수수료 규정을 확인하세요.</h2>
                    <h3 class="contents-sub-text">아래 규정 및 약관을 읽어보고, 동의하는 경우에 체크하고 최종 예약을 완료해 주세요.</h3>
                    <div class="round-box">
                        <!-- 체크박스 checked 될때마다 해당 모달을 띄움 -->
                        <ul class="row-group">
                            <li data-target="agreeTotChk" class="row line-bottom">
                                <label class="checkbox">
                                    <input (change)="onChangeAllAgreement($event)" type="checkbox" class="checkbox-control-input">
                                    <span class="checkbox-control-text">모든 약관에 동의합니다.</span>
                                </label>
                            </li>
                            <ng-container formArrayName="agreeList">
                                <li class="row agree-row">
                                    <label data-target="agreeChk" class="checkbox">
                                        <input formControlName="0" (change)="onChangeAgreement(0, $event)" type="checkbox" class="checkbox-control-input">
                                        <span class="checkbox-control-text"></span>
                                    </label>
                                    <span class="checkbox-text-area"><em (click)="onAgreementClick($event,'agreementNormal')">일반 규정</em>을 읽었으며 동의함</span>
                                </li>
                                <li class="row agree-row">
                                    <label data-target="agreeChk" class="checkbox">
                                        <input formControlName="1" (change)="onChangeAgreement(1, $event)" type="checkbox" class="checkbox-control-input">
                                        <span class="checkbox-control-text"></span>
                                    </label>
                                    <span class="checkbox-text-area"><em (click)="onAgreementClick($event,'agreementFlight')">취소/환불 규정</em>을 읽었으며 동의함</span>
                                </li>
                                <li class="row agree-row">
                                    <label data-target="agreeChk" class="checkbox">
                                        <input formControlName="2" (change)="onChangeAgreement(2, $event)" type="checkbox" class="checkbox-control-input">
                                        <span class="checkbox-control-text"></span>
                                    </label>
                                    <span class="checkbox-text-area"><em (click)="onAgreementClick($event, 'agreementHotel')">개인정보취급방침</em>을 읽었으며 동의함</span>
                                </li>
                            </ng-container>
                        </ul>
                    </div>

                    <!-- 최종 예약 완료 -->
                    <div class="btn-group mt30">
                        <button class="btn lg default" role="button">최종 예약 완료</button>
                    </div>

                    <ul class="text-list mt20">
                        <li>예약 완료까지는 30초에서 2분가량 소요될 수 있습니다.</li>
                        <li>예약 완료 버튼은 1번만 클릭하시기 바라며 클릭 후에는 최종 완료될 때까지 기다려 주시기 바랍니다.</li>
                        <li>완료 전에 창을 닫으면 이중 결제 또는 예약 에러가 발생할 수 있습니다.</li>
                    </ul>
                </div>

            </form>


        </div>
    </div>
</div>