<div class="contents-item mg">
    <!-- 가장 인기 있는 로스앤젤레스 항공+호텔 -->
    <h2 class="contents-title line">가장 인기 있는 로스앤젤레스 항공+호텔</h2>
    <h3 class="contents-sub-text group">
        <span>마지막 검색</span>
        <span>인천-로스엔젤레스, 08.31-09.20, 성인 1, 일반석, 객실 1</span>
    </h3>
    <div class="scroll-box-list extend">
        <div class="scroll-item-outer">
            <!-- 아이템 반복 -->
            <div class="saved-item popularity-airtel">
                <div class="airtel-image" style="background:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url('/assets/images/temp/@temp-hotel-image.png') 50% 50% no-repeat;">
                    <ul>
                        <li><span class="icon sm flight3"></span><span>델타항공</span></li>
                        <li><span class="icon sm hotel5"></span><span>5성급 5박 - 홀리데이 인 로스엔젤레스 호텔</span></li>
                    </ul>
                </div>
                <div class="popularity-airtel-information">
                    <span class="label sm type2">항공+호텔</span>
                    <strong class="price">1,750,580원</strong>
                </div>
            </div>
            <!-- 아이템 반복 -->
            <div class="saved-item popularity-airtel">
                <div class="airtel-image" style="background:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url('/assets/images/temp/@temp-hotel-image.png') 50% 50% no-repeat;">
                    <ul>
                        <li><span class="icon sm flight3"></span><span>델타항공</span></li>
                        <li><span class="icon sm hotel5"></span><span>5성급 5박 - 홀리데이 인 로스엔젤레스 호텔</span></li>
                    </ul>
                </div>
                <div class="popularity-airtel-information">
                    <span class="label sm type2">항공+호텔</span>
                    <strong class="price">1,750,580원</strong>
                </div>
            </div>
            <!-- 아이템 반복 -->
            <div class="saved-item popularity-airtel">
                <div class="airtel-image" style="background:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url('/assets/images/temp/@temp-hotel-image.png') 50% 50% no-repeat;">
                    <ul>
                        <li><span class="icon sm flight3"></span><span>델타항공</span></li>
                        <li><span class="icon sm hotel5"></span><span>5성급 5박 - 홀리데이 인 로스엔젤레스 호텔</span></li>
                    </ul>
                </div>
                <div class="popularity-airtel-information">
                    <span class="label sm type2">항공+호텔</span>
                    <strong class="price">1,750,580원</strong>
                </div>
            </div>
            <!-- 더보기 -->
            <div class="view-more-item">
                <span class="icon sm plus"></span>
                <p>더보기</p>
            </div>
        </div>
    </div>
</div>