<div class="recent-product-item" *ngFor="let item of viewModel.recentList; index as index;">
    <div class="item-summary">
        <div class="product-image">
            <img [src]="item.photoUrls" alt="">
        </div>
        <div class="summary">
            <p class="product-title"><strong>우리렌터카</strong><strong class="ml5">{{item.vehicleName}}</strong></p>
            <ul class="column-contents lg mt15">
                <li>
                    <span class="title">이용일</span>
                    <span class="text">{{item.dateRange}}</span>
                </li>
                <li>
                    <span class="title">인수장소</span>
                    <span class="text">{{item.locationAccept}}</span>
                </li>
                <li>
                    <span class="title">반납장소</span>
                    <span class="text">{{item.pickLocation}}</span>
                </li>
            </ul>
        </div>
        <div class="control">
            <a (click)="onDeleteItem($event, index, item.index)" class="btn md grey">삭제하기</a>
            <a (click)="onSearchResult($event, item.index)" class=" btn md default basis2">예약하기</a>
        </div>
    </div>
</div>