<form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Pick one" aria-label="Number" (keyup)="search()" matInput [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option?.rawData">
        {{option?.rawData?.ko}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>


<!--<form [formGroup]="testForm">-->
<!--  <input type="text" formControlName="rawData"/>-->
<!--  <button (click)="register()">tewst</button>-->
<!--</form>-->
